<!-- Generar Ruta se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Carga crispy form (ayuda visual en los formularios)-->
{% load crispy_forms_tags %}

<!-- Bloque que incluira el nav.html para que lo muestre en la página -->
{% block menu %}
{% include 'partials/nav.html' %}
{% endblock menu %}

<!-- Bloque de contenido el cual estará declarado en el body.html y será lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Bloque de codigo del formulario o tabla
<div class="container">
    <form action="" method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <input type="submit" value="Registrar">
    </form>
</div> -->
<!-- Inicio del contenedor para la página generar ruta -->
<!-- <div id="div-caja3" class="container mt-4 w-100"> -->

    {% if ruta == None %}

    <div class="text-center p-2 w-100">
        <h1>Ruta</h1>
    </div>

    <div class="m-4 rounded-bottom mt-5" style="box-shadow: 0px
        0px 5px 1px;">

        <!-- Enunciado o título  de la página -->
        <div class="w-100" style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209,
            208, 208);">
            <h3 style="text-align: center;">ABRIR RUTA</h3>
        </div>

        <form action="" method="POST" class="">
            {% csrf_token %}
            
            <div class="p-3 div-cajas2 w-100">
            <!-- Botones para seleccionar o diligenciar  información -->
            <div class="d-inline-block width-20 ms-1 me-5 mitexto" style="font-size: 18px;">
                <label for="basic-url" class="form-label w-75 ps-2">Placa del
                    Vehiculo</label>
                <div class="input-group mb-3 w-100">
                    <select class="form-control form-select mitexto" style="font-size: 18px;" name="fkVehiculo"
                        id="id_fkVehiculo" required>
                        <option selected disabled>Seleccione el Vehículo</option>
                        {% for vehiculo in vehiculos %}
                        <option value='{{vehiculo.id}}'>{{vehiculo.placaVehiculo}}
                            -
                            {{vehiculo.marcaVehiculo}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Documento
                    Conductor</label>
                <div class="input-group mb-3 w-100">
                    <select class="form-control form-select mitexto" style="font-size: 18px;" name="fkUsuario"
                        id="id_fkUsuario" required>
                        <option selected disabled>Seleccione el Documento</option>
                        {% for usuario in usuarios %}

                        {% if usuario.tipoUsuario == 'Conductor' %}
                        <option value='{{usuario.id}}'>{{usuario.numeroDocumento}}
                            -
                            {{usuario.primerNombre}}
                            {{usuario.primerApellido}}</option>
                        {% endif %}

                        {% endfor %}

                    </select>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Hora de
                    Salida</label>
                <div class="input-group mb-3 w-100">
                    <input type="time" class="form-control horaMinimo mitexto" style="font-size: 18px;" name="horaSalida"
                        id="id_horaSalida" onblur="checktimeval()"
                        aria-describedby="basic-addon3" required>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Fecha de
                    Salida</label>
                <div class="input-group mb-3 w-100">
                    <input type="date" class="form-control minimo mitexto" style="font-size: 18px;" name="fechaSalida"
                        id="id_fechaSalida"
                        aria-describedby="basic-addon3" required>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Fecha de
                    Regreso</label>
                <div class="input-group mb-3 w-100">
                    <input type="date" class="form-control minimo mitexto" style="font-size: 18px;" name="fechaRegreso"
                        id="id_fechaRegreso"
                        aria-describedby="basic-addon3" required>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Lugar de
                    Salida</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control mitexto" style="font-size: 18px;" name="lugarSalida"
                        id="id_lugarSalida"
                        aria-describedby="basic-addon3" required minlength="1" maxlength="50">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Lugar de
                    Destino</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control mitexto" style="font-size: 18px;" name="lugarDestino"
                        id="id_lugarDestino"
                        aria-describedby="basic-addon3" required minlength="1" maxlength="50">
                </div>
            </div>

            <!-- Salto de línea -->
            <br>
            <!-- Text Área  para la descripción de la ruta -->
            <div class="d-inline-block me-5 ps-1
                textarea-alarma w-100">
                <label for="basic-url" class="form-label
                    w-75 ps-2">DESCRIPCIÓN</label>
                <div class="form-floating mb-3 w-75
                    height-textarea">
                    <textarea class="form-control border
                        border-dark" name="descripcionRuta" style="height:
                        150px; resize: none;"
                        id="id_descripcionRuta"  required minlength="1" maxlength="500"></textarea>
                </div>
            </div>

            <br>
            <div class="w-100  pe-2">
            <button class="btn btn-success boton-primario mitexto" style="font-size: 18px;" name="generar">Abrir Ruta</button>
            </div>
            </div>
        </form>
    </div>

    {% else %}

    {% if ruta.estadoRuta == 'Abierta' %}

    <div class="m-4 rounded-bottom mt-5" style="box-shadow:
        0px
        0px 5px 1px;">

        <div class="w-100" style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209, 208,
            208);">
            <div class="w-100 text-center">
                <h2>Ruta # {{ruta.id}}</h2>
            </div>
        </div>

        <div class="container">

            <strong>Conductor Responsable: </strong><span>
                {{ruta.fkUsuario.primerNombre}}
                {{ruta.fkUsuario.primerApellido}}
            </span>
        </div>

        <br>

        <div class="p-3 div-cajas2 w-100">
        <input type="hidden" name="fkRuta" value="{{ruta.id}}">
        <div class="d-inline-block width-20 ms-1 me-5 ps-2">
            <label for="basic-url" class="form-label w-75 ps-2">ID Ruta</label>
            <div class="input-group mb-3 w-100">
                <input type="tex" class="form-control mitexto" style="font-size: 18px;" name=""
                    id=""
                    aria-describedby="basic-addon3" value="{{ruta.id}}"
                    disabled>
            </div>
        </div>

        <!-- Botones para seleccionar o diligenciar  información -->
        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">Placa del
                Vehículo</label>
            <div class="input-group mb-3 w-100">
                <select class="form-control form-select mitexto" style="font-size: 18px;" name="fkVehiculo"
                    id="id_fkVehiculo" disabled>
                    <option selected disabled>{{ruta.fkVehiculo}}</option>
                    <option disabled>Seleccione el Vehiculo</option>

                    {% for vehiculo in vehiculos %}
                    <option value='{{vehiculo.id}}'>{{vehiculo.placaVehiculo}} -
                        {{vehiculo.marcaVehiculo}}</option>
                    {% endfor %}

                </select>
                <!-- <input type="text" class="form-control mitexto" style="font-size: 18px;"
        id="placa-vehiculo-generar-ruta"
        aria-describedby="basic-addon3"> -->
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">Documento
                Conductor</label>
            <div class="input-group mb-3 w-100">
                <select class="form-control form-select mitexto" style="font-size: 18px;" name="fkUsuario"
                    id="id_fkUsuario" disabled>
                    <option selected disabled>{{ruta.fkUsuario}}</option>
                    <option disabled>Seleccione el Documento</option>
                    {% for usuario in usuarios %}

                    {% if usuario.tipoUsuario == 'Conductor' %}
                    <option value='{{usuario.id}}'>{{usuario.numeroDocumento}} -
                        {{usuario.primerNombre}}
                        {{usuario.primerApellido}}</option>
                    {% endif %}

                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">Hora de Salida</label>
            <div class="input-group mb-3 w-100">
                <input type="time" class="form-control mitexto" style="font-size: 18px;" name="horaSalida"
                    id="id_horaSalida"
                    aria-describedby="basic-addon3" disabled
                    value="{{ruta.horaSalida}}">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5 ps-2">
            <label for="basic-url" class="form-label w-75 ps-2">Fecha de Salida</label>
            <div class="input-group mb-3 w-100">
                <input type="date" class="form-control mitexto" style="font-size: 18px;" name="fechaSalida"
                    id="id_fechaSalida"
                    aria-describedby="basic-addon3" disabled
                    value="{{ruta.fechaSalida | date:'Y-m-d'}}">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">Fecha de Regreso</label>
            <div class="input-group mb-3 w-100">
                <input type="date" class="form-control mitexto" style="font-size: 18px;" name="fechaRegreso"
                    id="id_fechaRegreso"
                    aria-describedby="basic-addon3" disabled
                    value="{{ruta.fechaRegreso | date:'Y-m-d'}}">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">Lugar de Salida</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="lugarSalida"
                    id="id_lugarSalida"
                    aria-describedby="basic-addon3" disabled
                    value="{{ruta.horaSalida}}">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">Lugar de Destino</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="lugarDestino"
                    id="id_lugarDestino"
                    aria-describedby="basic-addon3" disabled
                    value="{{ruta.lugarDestino}}">
            </div>
        </div>

        <!-- Salto de línea -->
        <br>
        <!-- Text Área para la descripción de la ruta -->
        <div class="d-inline-block me-5 ps-1
            textarea-alarma ps-3">
            <label for="basic-url" class="form-label
                w-75 ps-2">DESCRIPCIÓN</label>
            <div class="form-floating mb-3 w-100
                height-textarea">
                <textarea class="form-control border
                    border-dark" name="descripcionRuta" style="height:
                    150px; resize: none;"
                    id="id_descripcionRuta" disabled>{{ruta.descripcionRuta}}</textarea>
            </div>
        </div>
        </div>
    </div>
    <!-- ################################################################################################################################## -->
    <!-- Parte para la selección y/o registro de funcionarios a transportar -->
    <!-- Título de selección de funcionarios -->
    <div class="m-4 rounded-bottom" style="box-shadow: 0px
        0px 5px 1px;">
        <form method="POST">
            <div class=" mt-5">

                {% csrf_token %}

                <div style="box-shadow: 0px 0px 0px 1px; background-color:
                    rgb(209, 208, 208);">
                    <h3 style="text-align: center;">SELECCIONAR PASAJERO</h3>
                </div>

                <br>

                <div class="p-3 div-cajas2 w-100 text-center">

                    <div class="d-inline-block ms-1 me-5 width-28">
                        <input type="hidden" name="fkRuta" value="{{ruta.id}}">
                        <label for="basic-url" class="form-label w-75 ps-2">Máximo: {{4}}</label>
                        <div class="input-group w-100">
                            <select id="id_tipoDocumento" class="form-select
                                select-field mitexto" style="font-size: 18px;" name="fkPasajero"
                                aria-label="tipo-activo">
                                <option selected disabled>--Seleccione al
                                    Pasajero--</option>
                                {% for pasajero in pasajeros %}
                                <option value="{{pasajero.id}}">{{pasajero.numeroDocumentoPasajero}}
                                    -
                                    {{pasajero.primerNombrePasajero}}
                                    {{pasajero.primerApellidoPasajero}}</option>
                                {% endfor %}

                            </select>

                            <div>
                                <button class="btn bi bi-person-check fs-3 "
                                    name="pasajero"></button>
    
                                <!-- USO DE MODAL CON BOOTSTRAP 5 PARA EL BOTÓN NUEVO ACTIVO -->
                                <!-- Este modal se trabaja junto con el wizardForm.html para el registro de un nuevo activo -->
                                <!-- Button trigger modal -->
    
                                <button type="button" class="btn fs-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-registrar-pasajero"><i
                                        class="bi bi-person-plus"></i>
                                </button>
                            </div>

                        </div>

                        
                    </div>
                </div>
                <br>
            </div>
        </form>
    </div>
<!-- </div> -->
<!-- </div> -->
<!-- <div id="div-caja3" class="container p-3 pe-4 pt-0 mt-0"> -->

    <div class="m-4 rounded-bottom" style="box-shadow: 0px
        0px 5px 1px;">

        <div class="w-100" style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209, 208,
            208);">
            <h3 style="text-align: center;">FUNCIONARIOS SELECCIONADOS</h3>
        </div>

        <div class="p-3 div-cajas2 w-100  overflow-auto">
        <table class="table table-striped mitexto" style="font-size: 18px;">
            <thead>
                <tr>
                    <th class="text-center">Eliminar</th>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                </tr>
            </thead>

            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td class="text-center"><a href="{% url 'eliminar-pasajero' id=detalle.id %}"><i
                                    class="bi bi-trash3-fill mitexto" style="color: red; font-size: 18px;"></i></a></td>
                        <td>{{detalle.fkPasajero.primerNombrePasajero}}</td>
                        <td>{{detalle.fkPasajero.primerApellidoPasajero}}</td>
                        <td>{{detalle.fkPasajero.direccionPasajero}}</td>
                        <td>{{detalle.fkPasajero.telefonoPasajero}}</td>

                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <!-- Información de los funcionarios agregados. -->
        <br>
    </div>
<!-- </div> -->

<!-- <div id="div-caja3" class="container p-3 pe-4 pt-0 mt-0"> -->
    <div class="m-4 rounded-bottom" style="box-shadow: 0px
        0px
        5px 1px;">
        <form action="" method="POST">
            {% csrf_token %}

            <div style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209,
                208,
                208);">
                <h3 style="text-align: center;">INFORMACIÓN FINAL</h3>
            </div>

            <br>

            <div class="p-3 div-cajas2 w-100">
            <div class="d-inline-block width-20 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Hora de
                    Llegada</label>
                <div class="input-group mb-3 w-100">
                    <input type="time" class="form-control mitexto" style="font-size: 18px;" name="horaRegreso"
                        id="id_horaRegreso" aria-describedby="basic-addon3"
                        value="{{ruta.horaRegreso}}" required>
                </div>
            </div>
            
            <!-- <input type="hidden" value="{{ruta.fkVehiculo.id}}">
            <input type="hidden" value="{{ruta.fkVehiculo.kilometraje}}"> -->

            <div class="d-inline-block width-20 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Kilometraje
                    Final (ultimo: {{kilometraje.kilometrajeFinalVehiculo}})</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control mitexto" style="font-size: 18px;"
                        name="kilometrajeFinalVehiculo"
                        id="id_kilometrajeFinalVehiculo"
                        aria-describedby="basic-addon3" required
                        value="{{ruta.kilometrajeFinalVehiculo}}">
                </div>
            </div>

            <!-- salto de línea -->
            <br>

            <!-- Text Área  para las observaciones de la ruta -->
            <div class="d-inline-block me-5
                textarea-alarma">
                <label for="basic-url" class="form-label
                    w-75 ps-2">OBSERVACIONES</label>
                <div class="form-floating mb-3 w-100
                    height-textarea">
                    <textarea class="form-control border
                        border-dark mitexto" style="height:
                        150px; resize: none; font-size: 18px;" name="observacionesRuta"
                        id="id_observacionesRuta" maxlength="500">{{ruta.observacionesRuta}}</textarea>
                </div>
            </div>

            <br>
            <br>

            <div class="w-100 ps-2 pe-2">
            <button class="btn btn-success ps-1 pe-1 me-1 boton-secundario mb-2 mitexto" style="font-size: 18px;"
                name="editar-ruta">Guardar</button>
            <!-- botón de imprimir el cual deberá enviar aun documentos en pdf para así imprimir la ruta. -->
            <!-- <button class="btn btn-warning ps-1 pe-1 me-1 boton-secundario mb-2">Imprimir</button> -->
            <!-- botón de imprimir el cual deberá enviar aun documentos en pdf para así imprimir la ruta. -->
            <a class="btn btn-block btn-danger boton-secundario mb-2 mitexto" style="font-size: 18px;" href="{% url 'cerrar-ruta' ruta.id %}">Cerrar
                Ruta</a>
            </div> 
            </div>
        </form>
    </div>
<!-- </div> -->

{% else %}

<div id="ver-ruta">

    <form action="" method="POST">
        {% csrf_token %}

        <div class="m-4 rounded-bottom mt-5" style="box-shadow:
            0px
            0px 5px 1px;">

            <div style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209,
                208,
                208);">
                <div class="w-100 text-center">
                    <h2>Ruta # {{ruta.id}}</h2>
                </div>
            </div>

            <div class="container">

                <strong>Conductor Responsable: </strong><span>
                    {{ruta.fkUsuario.primerNombre}}
                    {{ruta.fkUsuario.primerApellido}}
                </span>
            </div>

            <div class="container mb-4">

                <strong>Estado de la Ruta: </strong><span>
                    {{ruta.estadoRuta}}

                </span>
            </div>

            <div class="p-3 div-cajas2 w-100">
            <input type="hidden" name="fkRuta" value="{{GenerarRuta.id}}">
            <div class="d-inline-block width-20 ms-1 me-5 ps-2">
                <label for="basic-url" class="form-label w-75 ps-2">ID Ruta</label>
                <div class="input-group mb-3 w-100">
                    <input type="tex" class="form-control mitexto" style="font-size: 18px;" name=""
                        id=""
                        aria-describedby="basic-addon3" value="{{ruta.id}}"
                        disabled>
                </div>
            </div>

            <!-- Botones para seleccionar o diligenciar información -->
            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Placa del
                    Vehículo</label>
                <div class="input-group mb-3 w-100">
                    <select class="form-control form-select mitexto" style="font-size: 18px;" name="fkVehiculo"
                        id="id_fkVehiculo" disabled>
                        <option selected disabled>{{ruta.fkVehiculo}}</option>
                        <option disabled>Seleccione el Vehiculo</option>

                        {% for vehiculo in vehiculos %}
                        <option value='{{vehiculo.id}}'>{{vehiculo.placaVehiculo}}
                            -
                            {{vehiculo.marcaVehiculo}}</option>
                        {% endfor %}

                    </select>
                    <!-- <input type="text" class="form-control mitexto" style="font-size: 18px;"
            id="placa-vehiculo-generar-ruta"
            aria-describedby="basic-addon3"> -->
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Documento
                    Conductor</label>
                <div class="input-group mb-3 w-100">
                    <select class="form-control form-select mitexto" style="font-size: 18px;" name="fkUsuario"
                        id="id_fkUsuario" disabled>
                        <option selected disabled>{{ruta.fkUsuario}}</option>
                        <option disabled>Seleccione el Documento</option>
                        {% for usuario in usuarios %}

                        {% if usuario.tipoUsuario == 'Conductor' %}
                        <option value='{{usuario.id}}'>{{usuario.numeroDocumento}}
                            -
                            {{usuario.primerNombre}}
                            {{usuario.primerApellido}}</option>
                        {% endif %}

                        {% endfor %}

                    </select>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Hora de
                    Salida</label>
                <div class="input-group mb-3 w-100">
                    <input type="time" class="form-control mitexto" style="font-size: 18px;" name="horaSalida"
                        id="id_horaSalida"
                        aria-describedby="basic-addon3" disabled
                        value="{{ruta.horaSalida}}">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5 ps-2">
                <label for="basic-url" class="form-label w-75 ps-2">Fecha de
                    Salida</label>
                <div class="input-group mb-3 w-100">
                    <input type="date" class="form-control mitexto" style="font-size: 18px;" name="fechaSalida"
                        id="id_fechaSalida"
                        aria-describedby="basic-addon3" disabled
                        value="{{ruta.fechaSalida | date:'Y-m-d'}}">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Fecha de
                    Regreso</label>
                <div class="input-group mb-3 w-100">
                    <input type="date" class="form-control mitexto" style="font-size: 18px;" name="fechaRegreso"
                        id="id_fechaRegreso"
                        aria-describedby="basic-addon3" disabled
                        value="{{ruta.fechaRegreso | date:'Y-m-d'}}">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Lugar de
                    Salida</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control mitexto" style="font-size: 18px;" name="lugarSalida"
                        id="id_lugarSalida"
                        aria-describedby="basic-addon3" disabled
                        value="{{ruta.horaSalida}}">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Lugar de
                    Destino</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control mitexto" style="font-size: 18px;" name="lugarDestino"
                        id="id_lugarDestino"
                        aria-describedby="basic-addon3" disabled
                        value="{{ruta.lugarDestino}}">
                </div>
            </div>

            <!-- Salto de línea -->
            <br>
            <!-- Text Área  para la descripción de la ruta -->
            <div class="d-inline-block me-5
                textarea-alarma">
                <label for="basic-url" class="form-label
                    w-75 ps-2">DESCRIPCIÓN</label>
                <div class="form-floating mb-3 w-100
                    height-textarea ps-1">
                    <textarea class="form-control border
                        border-dark mitexto" name="descripcionRuta" style="height:
                        150px; resize: none; font-size: 18px;" placeholder="Leave a comment here
                        "
                        id="id_descripcionRuta" disabled>{{ruta.descripcionRuta}}</textarea>
                </div>
            </div>
            </div>

        </div>

        <br>

        <div class="m-4 rounded-bottom" style="box-shadow: 0px
            0px 5px 1px;">

            <div class="w-100" style="box-shadow: 0px 0px 0px 1px; background-color:
                rgb(209, 208,
                208);">
                <h3 style="text-align: center;">FUNCIONARIOS SELECCIONADOS</h3>
            </div>
            
            <div class="p-3 div-cajas2 w-100  overflow-auto">
            <table class="table table-striped mitexto" style="font-size: 18px;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Primer Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                    </tr>
                </thead>

                <tbody>
                    {% for detalle in detalles %}
                    <tr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <td></td>
                            <td>{{detalle.fkPasajero.primerNombrePasajero}}</td>
                            <td>{{detalle.fkPasajero.primerApellidoPasajero}}</td>
                            <td>{{detalle.fkPasajero.direccionPasajero}}</td>
                            <td>{{detalle.fkPasajero.telefonoPasajero}}</td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- Información de los funcionarios agregados. -->
            <br>
        </div>

        <br>

        <div class="m-4 rounded-bottom" style="box-shadow:
            0px
            0px
            5px 1px;">

            <div class="w-100" style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209,
                208,
                208);">
                <h3 style="text-align: center;">INFORMACIÓN FINAL</h3>
            </div>

            <div class="p-3 div-cajas2 w-100">
            <div class="d-inline-block width-20 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Hora de
                    llegada</label>
                <div class="input-group mb-3 w-100">
                    <input type="time" class="form-control mitexto" style="font-size: 18px;" name="horaRegreso"
                        id="id_horaRegreso" disabled
                        value="{{ruta.horaRegreso}}"
                        aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="d-inline-block width-20 me-5">
                <label for="basic-url" class="form-label w-75 ps-2">Kilometraje
                    Final</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" class="form-control mitexto" style="font-size: 18px;"
                        name="kilometrajeFinalVehiculo"
                        id="id_kilometrajeFinalVehiculo"
                        aria-describedby="basic-addon3" disabled
                        value="{{ruta.kilometrajeFinalVehiculo}}">
                </div>
            </div>

            <!-- salto de línea -->
            <br>

            <!-- Text Área para las observaciones de la ruta -->
            <div class="d-inline-block me-5
                textarea-alarma">
                <label for="basic-url" class="form-label
                    w-75 ps-2">Observaciones</label>
                <div class="form-floating mb-3 w-100
                    height-textarea">
                    <textarea class="form-control border
                        border-dark mitexto" style="height:
                        150px; resize: none; font-size: 18px;" name="observacionesRuta"
                        id="id_observacionesRuta" disabled>{{ruta.observacionesRuta}}</textarea>
                </div>
            </div>
            </div>
        </div>
    </form>
</div>

{% endif %}

{% endif %}
<!-- Modal agregar pasajero -->
<div class="modal fade" id="modal-registrar-pasajero"
    data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">REGISTRAR
                    NUEVO
                    PASAJERO</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <form id="f_pasajero" action="" method="POST">

                <div class="modal-body text-start" id="form-pasajero">

                    {% csrf_token %}

                    <p><label class="w-75 mb-0 fs-5">Primer Nombre</label><input
                            type="text"
                            id="id_primerNombrePasajero"
                            class="form-control"
                            name="primerNombrePasajero" required minlength="1" maxlength="50"></p>
                    <p><label class="w-75 mb-0 fs-5">Primer Apellido</label><input
                            type="text"
                            id="id_primerApellidoPasajero"
                            class="form-control"
                            name="primerApellidoPasajero" required minlength="1" maxlength="50"></p>
                    <p><label class="w-75 mb-0 fs-5">Tipo de Documento</label><select
                            id="id_tipoDocumento" class="form-select
                            form-select" name="tipoDocumento" required>
                            <option selected disabled>------</option>
                            <option value="C.C.">Cédula de Ciudadania</option>
                            <option value="C.E.">Cédula de Extranjería</option>
                            <option value="PASS">Pasaporte</option>
                        </select></p>
                    <p><label class="w-75 mb-0 fs-5">Número de Documento</label><input
                            type="text"
                            id="id_numeroDocumentoPasajero"
                            class="form-control"
                            name="numeroDocumentoPasajero" required minlength="1" maxlength="50">
                    </p>
                    <p><label class="w-75 mb-0 fs-5">Dirección</label><input
                            type="text" id="id_direccionPasajero"
                            class="form-control"
                            name="direccionPasajero" required minlength="1" maxlength="100"></p>
                    <p><label class="w-75 mb-0 fs-5">Telefono</label><input
                            type="text" id="id_telefonoPasajero"
                            class="form-control"
                            name="telefonoPasajero" required minlength="1" maxlength="20"></p>

                    <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL ACTIVO -->
                    <div class="w-100 d-flex justify-content-center">
                        <button class="btn btn-success
                            fs-5 m-2" name="form-pasajero">Guardar</button>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <button type="button" class="btn
                            btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin del contenedor para la página generar ruta -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
$(document).ready(function () {
    const fecha = new Date();
    let day = fecha.getDate();
    let month = fecha.getMonth() +1;
    let year = fecha.getFullYear();
    let actual = year + '-' + month + '-' + day
    $('.minimo').attr('min', actual )

    let hora = fecha.getHours();
    let minuto = fecha.getMinutes();
    let horaActual= hora + ':' + minuto + ':00' 
    $('.horaMinimo').attr('min', horaActual)
});


function checktimeval(){
    var timeval=document.getElementById("id_horaSalida").value.substr(0,2);
    // alert(timeval.substr(0,2));
    const fecha = new Date();
    let hora = fecha.getHours();
    let minuto = fecha.getMinutes();
    if(timeval < hora){
    alert('Seleccione una hora mayor a la actual');
    }
}
</script>

<script>
    const $f_pasajero = document.getElementById('f_pasajero');
    const $id_primerNombrePasajero = document.getElementById('id_primerNombrePasajero');
    const $id_primerApellidoPasajero = document.getElementById('id_primerApellidoPasajero');
    const $id_numeroDocumentoPasajero = document.getElementById('id_numeroDocumentoPasajero');
    const $id_direccionPasajero = document.getElementById('id_direccionPasajero');
    const $id_telefonoPasajero = document.getElementById('id_telefonoPasajero');

    (function(){
        $f_pasajero.addEventListener('submit', function(p){
            let primerNombrePasajero=String($id_primerNombrePasajero.value).trim();
            let primerApellidoPasajero=String($id_primerApellidoPasajero.value).trim();
            let numeroDocumentoPasajero=String($id_numeroDocumentoPasajero.value).trim();
            let direccionPasajero=String($id_direccionPasajero.value).trim();
            let telefonoPasajero=String($id_telefonoPasajero.value).trim();
            if (primerNombrePasajero === "" || primerApellidoPasajero === "" || numeroDocumentoPasajero === "" || direccionPasajero === "" || telefonoPasajero === ""){
                alert("El dato no puede ir vacio o solo con espacios en blanco");
                p.preventDefault();
            }
        });
    })();
</script>


{% include 'partials/tamañoLetra.html' %}

{% endblock contenido %}