<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Carga crispy form (ayuda visual en los formularios)-->
{% load crispy_forms_tags %}

<!-- Bloque que incluira el nav.html para que lo muestre en la página -->
{% block menu %}
{% include 'partials/nav.html' %}
{% endblock menu %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Bloque de codigo del formulario o tabla  -->
<!-- <div class="container">
    <form action="" method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <input type="submit" value="Registrar">
    </form>
</div> -->

<!-- Inicio del contenedor para la página registrar mantenimiento -->
<div id="div-caja3" class="container p-3 pb-4 d-flex
    justify-content-center pe-4">

    <form action="" method="POST" id="div-cajas" class="container p-3 my-4 mt-0 pb-0
        border-start border-end border-dark">

    <!-- Inicio del primer contenedor de la página-->
    <div id="div-cajas" class="container p-3 my-4 pt-0">

        <div class="text-center p-2 w-100">
            <h2>Seleccione el Tipo de Activo</h2>
        </div>

        <!-- Salto de línea -->
        <br>

        <!-- Botones para seleccionar el tipo de activo-->
        <div class="text-center w-100">
            <div class="d-inline-block width-20 ms-1 me-5">
                <div class="input-group mb-3 w-100">
                    <button type="button" value="vehiculo" onclick="displayTable(this)" class="btn
                        form-control
                        width-20 m-2 border border-dark
                        bg-white
                        text-dark" style="cursor: pointer;">VEHÍCULO</button>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <div class="input-group mb-3 w-100">
                    <button type="button" value="extintor" onclick="displayTable(this)"  class="btn
                        form-control
                        width-20 m-2 border border-dark
                        bg-white
                        text-dark" style="cursor: pointer;">EXTINTOR</button>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <div class="input-group mb-3 w-100">
                    <button type="button"  value="oficina" onclick="displayTable(this)"  class="btn
                        form-control
                        width-20 m-2 border border-dark
                        bg-white
                        text-dark" style="cursor: pointer;">EQUIPO
                        OFICINA</button>
                </div>
            </div>
        </div>

    </div>

    <!-- VEHICULOS ------------------------------------------------------------------------------- -->

    <div id="table-vehiculo" style="display: none;">
        <div class="d-flex flex-column" >
            <div class="h3 ms-5">Vehículos</div>
            <div class="d-flex justify-content-center pb-4 mb-4 m-2 w-100 p-3">
                <!-- Inicio del segundo contenedor de la página-->

                <!-- Inicio de la Tabla usando (DataTable) -->
                <div class="overflow-auto shadow-lg p-4
            height-config-tabla1 m-2 w-100" style="height: 300px;">
                    <table id="example" class="table-striped display nowrap">

                        <!-- Cabecera de la tabla (Donde estaran los enunciados principales)-->
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id Activo</th>
                                <th>Marca del Vehículo</th>
                                <th>Modelo del Vehículo</th>
                                <th>Placa del Vehículo</th>
                                <th>Color del Vehículo</th>
                                <th>Serial del Vehiculo</th>
                                <th>Tipo de Combustible</th>
                                <th>Cantidad de Pasajeros</th>
                                <th>Persona a Cargo</th>
                                <th>Estado del Vehículo</th>
                                <th>Fecha de Ingreso</th>
                                <th>Fecha Inicio Soat</th>
                                <th>Fecha Vencimiento Soat</th>
                                <th>Fecha Inicio Tecnicomecanica</th>
                                <th>Fecha Vencimiento Tecnicomecanica</th>
                            </tr>
                        </thead>

                        <!-- Cuerpo de la tabla (donde estara la informacion que se mostrara de los activos) -->
                        <tbody>

                            {% for vehiculo in vehiculos %}
                            <tr>
                                <!-- Imagen de un ojo con el cual seleccionara el activo y mostrara en la parte de abajo toda la informacion
                    para editar, guardar o eliminar/desabilitar la información -->
                                <td><button class="border-0 rounded-circle" style="background-color: rgba(240, 248,
                                255, 0);"><img src="{% static 'img/eye.png' %}" alt="iconoOjoSelector" width="20"
                                            height="20"></td></button>
                                <td class="text-center">{{vehiculo.id}}</td>
                                <td>{{vehiculo.marcaVehiculo}}</td>
                                <td>{{vehiculo.modeloVehiculo}}</td>
                                <td>{{vehiculo.placaVehiculo}}</td>
                                <td>{{vehiculo.colorVehiculo}}</td>
                                <td>{{vehiculo.serialVehiculo}}</td>
                                <td>{{vehiculo.tipoCombustible}}</td>
                                <td>{{vehiculo.cantidadPasajeros}}</td>
                                <td>{{vehiculo.personaEncargadaVehiculo}}</td>
                                <td>{{vehiculo.estadoVehiculo}}</td>
                                <td>{{vehiculo.fechaIngresoVehiculo}}</td>
                                <td>{{vehiculo.fechaInicioSoat}}</td>
                                <td>{{vehiculo.fechaFinSoat}}</td>
                                <td>{{vehiculo.fechaInicioTecnicomecanica}}</td>
                                <td>{{vehiculo.fechaVencimientoTecnicomecanica}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>

                        <!-- Footer de la tabla (Donde estaran los enunciados principales pero en la parte inferior) -->
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Id Activo</th>
                                <th>Marca del Vehículo</th>
                                <th>Modelo del Vehículo</th>
                                <th>Placa del Vehículo</th>
                                <th>Color del Vehículo</th>
                                <th>Serial del Vehiculo</th>
                                <th>Tipo de Combustible</th>
                                <th>Cantidad de Pasajeros</th>
                                <th>Persona a Cargo</th>
                                <th>Estado del Vehículo</th>
                                <th>Fecha de Ingreso</th>
                                <th>Fecha Inicio Soat</th>
                                <th>Fecha Vencimiento Soat</th>
                                <th>Fecha Inicio Tecnicomecanica</th>
                                <th>Fecha Vencimiento Tecnicomecanica</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;" id="table-extintor">
        <div class="d-flex flex-column" >
            <div class="h3 ms-5">Extintores</div>

<!-- EXTINTORES --------------------------------------------------------------------------------------------- -->

            <div class="d-flex justify-content-center pb-4 mb-4 m-2 w-100 p-3">
                <!-- Inicio del segundo contenedor de la página-->
                <!-- Inicio de la Tabla usando (DataTable) -->
                <div class="overflow-auto shadow-lg p-4
            height-config-tabla1 m-2 w-100" style="height: 300px;">
                    <table id="example2" class="table-striped display nowrap">

                        <!-- Cabecera de la tabla (Donde estaran los enunciados principales)-->
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id Activo</th>
                                <th>Serial Extintor</th>
                                <th>Color Extintor</th>
                                <th>Ubicación del Extintor</th>
                                <th>Tipo de Extintor</th>
                                <th>Peso del Extintor</th>
                            </tr>
                        </thead>

                        <!-- Cuerpo de la tabla (donde estara la informacion que se mostrara de los activos) -->
                        <tbody>

                            {% for extintor in extintores %}
                            <tr>
                                <!-- Imagen de un ojo con el cual seleccionara el activo y mostrara en la parte de abajo toda la informacion
                    para editar, guardar o eliminar/desabilitar la información -->
                                <td><button class="border-0 rounded-circle" style="background-color: rgba(240, 248,
                                255, 0);"><img src="{% static 'img/eye.png' %}" alt="iconoOjoSelector" width="20"
                                            height="20"></td></button>
                                <td class="text-center">{{extintor.id}}</td>
                                <td>{{extintor.serialExtintor}}</td>
                                <td>{{extintor.colorExtintor}}</td>
                                <td>{{extintor.ubicacionExtintor}}</td>
                                <td>{{extintor.tipoExtintor}}</td>
                                <td>{{extintor.pesoExtintor}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>

                        <!-- Footer de la tabla (Donde estaran los enunciados principales pero en la parte inferior) -->
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Id Activo</th>
                                <th>Serial Extintor</th>
                                <th>Color Extintor</th>
                                <th>Ubicación del Extintor</th>
                                <th>Tipo de Extintor</th>
                                <th>Peso del Extintor</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- EQUIPOS DE OFICINA ------------------------------------------------------------------------------- -->
    
    <div style="display: none;" id="table-oficina">
        <div class="d-flex flex-column" >
            <div class="h3 ms-5">Equipos de Oficina</div>
            <div class="d-flex justify-content-center pb-4 mb-4 m-2 w-100 p-3">
                <!-- Inicio del segundo contenedor de la página-->
                <!-- Inicio de la Tabla usando (DataTable) -->
                <div class="overflow-auto shadow-lg p-4
            height-config-tabla1 m-2 w-100" style="height: 300px;">
                    <table id="example3" class="table-striped display nowrap">

                        <!-- Cabecera de la tabla (Donde estaran los enunciados principales)-->
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id Activo</th>
                                <th>Serial Equipo</th>
                                <th>Marca Equipo</th>
                                <th>Color Equipo</th>
                                <th>Sistema Operativo</th>
                                <th>Ram del Equipo</th>
                                <th>Memoria del Equipo</th>
                                <th>Ubicación del Equipo</th>
                                <th>Componentes del Equipo</th>
                            </tr>
                        </thead>

                        <!-- Cuerpo de la tabla (donde estara la informacion que se mostrara de los activos) -->
                        <tbody>

                            {% for equipo in equipos %}
                            <tr>
                                <!-- Imagen de un ojo con el cual seleccionara el activo y mostrara en la parte de abajo toda la informacion
                    para editar, guardar o eliminar/desabilitar la información -->
                                <td><button class="border-0
                                    rounded-circle"
                                    style="background-color:
                                    rgba(240, 248,
                                    255, 0);"><img
                                        src="{% static 'img/eye.png' %}"
                                        alt="iconoOjoSelector"
                                        width="20"
                                        height="20"></td></button>
                                <td class="text-center">{{equipo.id}}</td>
                                <td>{{equipo.serialEquipo}}</td>
                                <td>{{equipo.marcaEquipo}}</td>
                                <td>{{equipo.colorEquipo}}</td>
                                <td>{{equipo.sistemaOperativo}}</td>
                                <td>{{equipo.ramEquipo}}</td>
                                <td>{{equipo.memoriaEquipo}}</td>
                                <td>{{equipo.ubicacionEquipo}}</td>
                                <td>{{equipo.componentesAdicionales}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>

                        <!-- Footer de la tabla (Donde estaran los enunciados principales pero en la parte inferior) -->
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Id Activo</th>
                                <th>Serial Equipo</th>
                                <th>Marca Equipo</th>
                                <th>Color Equipo</th>
                                <th>Sistema Operativo</th>
                                <th>Ram del Equipo</th>
                                <th>Memoria del Equipo</th>
                                <th>Ubicación del Equipo</th>
                                <th>Componentes del Equipo</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

        <!-- Contenedor donde apareceran los datos básicos del activo para confirmar que selecciono bien. -->
        <div class="border-bottom border-top border-dark mb-4 pb-5 w-100">

            <!-- Titulo Activo Seleccionado -->
            <div class="d-flex justify-content-center p-2
                mb-4 w-100 pt-4">
                <h2>Activo Seleccionado</h2>
            </div>

            <!-- Input o cuadros donde mostrara la informacion del activo seleccionado en la tabla. -->
            <div class="w-100">
                <div class="d-inline-block width-20 ms-1
                    me-5 d">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">ID ACTIVO</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="id-activo-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="001">
                    </div>
                </div>

                <div class="d-inline-block width-20 ms-1
                    me-5">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">TIPO ACTIVO</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="tipo-activo-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="vehículo">
                    </div>
                </div>

                <div class="d-inline-block width-20 ms-1
                    me-5">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">PLACA</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="placa-vehiculo-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="XFD-581">
                    </div>
                </div>

                <div class="d-inline-block width-20 ms-1
                    me-5">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">MARCA</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="marca-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="Toyota">
                    </div>
                </div>

                <div class="d-inline-block width-20 ms-1
                    me-5">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">MODELO</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="modelo-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="2022">
                    </div>
                </div>

                <div class="d-inline-block width-20 ms-1
                    me-5">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">KILOMETRAJE ACTUAL</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="kilometraje-actual-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="10000">
                    </div>
                </div>

                <div class="d-inline-block width-20 ms-1
                    me-5">
                    <label for="basic-url" class="form-label
                        w-75 ps-2">RESPONSABLE</label>
                    <div class="input-group mb-3 w-100">
                        <input type="text"
                            class="form-control"
                            id="responsable-activo-registrar-mantenimiento"
                            aria-describedby="basic-addon3"
                            placeholder="Jonny Canabal">
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor de checkbox tipo switch para seleccionar algunas opciones del mantenimiento del activo -->
        <div class="w-100">

            <!-- Título Registrar Mantenimiento -->
            <div class="text-center w-100">
                <h2>Registrar Mantenimiento</h2>
            </div>
        </div>

        <!-- Cuadro donde se continuara con el registro del mantenimiento con informacion mas puntual -->
        <div class="mt-4 border-dark pt-4 w-100">
            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">N° Mantenimiento</label>
                <div class="input-group mb-3 w-100">
                    <input type="text"
                        class="form-control"
                        id="numero-mantenimiento-registrar-mantenimiento"
                        aria-describedby="basic-addon3"
                        placeholder="001">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">FECHA DEL MANTENIMIENTO</label>
                <div class="input-group mb-3 w-100">
                    <input type="date" name="fechaMantenimiento"
                        class="form-control"
                        id="id_fechaMantenimiento"
                        aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">LUGAR DEL MANTENIMIENTO</label>
                <div class="input-group mb-3 w-100">
                    <input type="text" name="lugarMantenimiento"
                        class="form-control"
                        id="id_lugarMantenimiento"
                        aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">CIUDAD DEL MANTENIMIENTO</label>
                <div class="input-group mb-3 w-100">
                    <input type="text"
                        class="form-control" name="ciudadMantenimiento"
                        id="id_ciudadMantenimiento"
                        aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">KILOMETRAJE DEL VEHÍCULO</label>
                <div class="input-group mb-3 w-100">
                    <input type="text"
                        class="form-control" name="kilometrajeMantenimiento"
                        id="id_kilometrajeMantenimiento"
                        aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">NUMERO DE FACTURA</label>
                <div class="input-group mb-3 w-100">
                    <input type="text"
                        class="form-control" name="numeroFactura"
                        id="id_numeroFactura"
                        aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1
                me-5">
                <label for="basic-url" class="form-label
                    w-75 ps-2">VALOR DEL MANTENIMIENTO</label>
                <div class="input-group mb-3 w-100">
                    <input type="text"
                        class="form-control" name="valorMantenimiento"
                        id="id_valorMantenimiento"
                        aria-describedby="basic-addon3">
                </div>
            </div>
        
            <!-- Cuadro de observaciones donde se diligenciara que mas se le hizo en el mantenimeinto al activo. -->
            <div class="mt-5 pt-4 border-top border-dark w-100
                pe-3">
                <!-- OBSERVACIONES-->
                <div class="d-inline-block ms-1 me-5 w-100">
                    <label for="basic-url" class="form-label
                        ps-2 fs-4 w-100">DESCRIPCIÓN DEL
                        MANTENIMIENTO</label>
                    <div class="mb-3 w-100">
                        <textarea id="id_descripcionMantenimiento" name="descripcionMantenimiento" class="form-control border
                            border-dark w-100" style="height:
                            200px; resize: none;"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Cuadro donde se adjuntara un archivo preferiblemente en pdf e la factura del mantenimiento. -->
        <!-- ADJUNTAR ARCHIVO-->
        <div class="w-100">
            <label for="formFileLg"
                class="form-label ps-2 w-100">Adjuntar
                Archivo del Mantenimiento Realizado</label>
            <input class="form-control w-75
                form-control-lg" style="font-size: 14px;"
                id="adjuntar-archivo-registrar-mantenimiento"
                type="file">
        </div>

        <!-- Salto de línea -->
        <br>
        <br>

        <!-- Botón de registrar el mantenimiento junto con su modal para validad el registro. -->
        <div class="text-center w-100"> <!-- BOTON DE ACCIÓN-->
            <!-- USO DE MODAL CON BOOTSTRAP 5 PARA EL BOTON GENERAR RUTA-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success
                fs-5 btn-registrar-mantenimiento"
                data-bs-toggle="modal"
                data-bs-target="#modal-registrar-mantenimiento">
                REGISTRAR
            </button>

            <!-- Modal -->
            <div class="modal fade"
                id="modal-registrar-mantenimiento"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="staticBackdropLabel">REGISTRAR
                                MANTENIMIENTO</h5>
                            <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body
                            text-start">
                            El mantenimiento se
                            registrara con los datos
                            Ingresados con Anterioridad.
                            ¿Esta seguro de hacer el
                            registro?
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn
                                btn-secondary"
                                data-bs-dismiss="modal">CANCELAR</button>
                            <input type="submit"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-registrar-mantenimiento2"
                                data-bs-dismiss="modal"
                                class="btn
                                btn-primary" value="ACEPTAR">
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL INTERNO AL OPRIMIR ACEPTAR EN EL MODAL ANTERIOR DE GUARDAR-->
            <div class="modal"
                id="modal-registrar-mantenimiento2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header alert
                            alert-success">
                            <h5 class="modal-tittle">MANTENIMIENTO
                                REGISTRADO</h5>
                            <button class="btn-close"
                                type="buttom"
                                data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body
                            text-start">
                            Se registro el mantenimiento
                            de forma exitosa.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% block javascripttabla %}

    {% include 'partials/javascripttabla.html' %}
    
{% endblock javascripttabla %}

{% endblock contenido %}

