<!-- Consultar activos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/reportes.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

{% block contenido %}
<section class="container sombra-caja p-0 ">
    <div class="d-flex align-content-end">
    <p class="me-3 ms-4" id="current_date"></p>
    <p id="display-time"></p>
    </div>
    
    <!-- INICIO DEL MAIN-->
    <main class="bg-light">

        <div id="div-caja3" class="p-3 pb-1 pe-4 pt-0 mt-0">
            
            <div class="d-flex justify-content-center w-100 mb-2">
                <h3 class="text-center border-bottom border-dark">EQUIPO N° {{equipo.id}}</h3>
            </div>

            <div class="d-flex justify-content-center mb-4">
                <img class="radio-img-reporte" style="width: 40%; border-radius: 4%;"
                    src="{{ MEDIA_URL }}{{equipo.fotoEquipo.url}}"
                    alt="Imagen-reporte">
            </div>

            <div class="d-flex flex-wrap border-bottom border-dark
                pb-2">

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">Id Equipo</span>
                    <input type="hidden" name="pk_equipo"
                        value="{{equipo.id}}">
                    <input type="text" class="form-control" disabled id=""
                        name="" value="{{equipo.id}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">Serial Equipo</span>
                    <input type="text" class="form-control"
                        id="id_serialEquipo" name="serialEquipo"
                        value="{{equipo.serialEquipo}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">Marca Equipo</span>
                    <input type="text" class="form-control"
                        id="id_marcaEquipo" name="marcaEquipo"
                        value="{{equipo.marcaEquipo}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">Color Equipo</span>
                    <input type="text" class="form-control"
                        id="id_colorEquipo" name="colorEquipo"
                        value="{{equipo.colorEquipo}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">Sistema Operativo</span>
                    <input type="text" class="form-control"
                        id="id_sistemaOperativo" name="sistemaOperativo"
                        value="{{equipo.sistemaOperativo}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">RAM del Equipo</span>
                    <input type="text" class="form-control"
                        id="id_ramEquipo" name="ramEquipo"
                        value="{{equipo.ramEquipo}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-50">
                    <span class="input-group-text"
                        id="basic-addon1">Memoria del Equipo</span>
                    <input type="text" class="form-control"
                        id="id_memoriaEquipo" name="memoriaEquipo"
                        value="{{equipo.memoriaEquipo}}"
                        aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3 w-100">
                    <span class="input-group-text"
                        id="basic-addon1">Componentes del Equipo</span>
                        <textarea type="text" class="form-control text-break"
                        id="id_componentesAdicionales" name="componentesAdicionales"
                        value="{{equipo.componentesAdicionales}}"
                        aria-describedby="basic-addon3"></textarea>
                </div>
            </div>

            <br>

            <div class="d-flex justify-content-center mb-3">
                <h3 class="border-bottom border-dark">
                    MANTENIMIENTOS</h3>
            </div>
            {% for mantenimiento in mantenimientos %}
            <table class="table border
                border-dark table-bordered border-primar w-100">
                <thead class="border-start border-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 50px">ID</th>
                        <th scope="col" class="text-center" style="width: 100px">Fecha</th>
                        <th scope="col" class="text-center" style="width: 100px">Lugar</th>
                        <th scope="col" class="text-center" style="width: 100px">Ciudad</th>
                        <th scope="col" class="text-center" style="width: 100px">N° Factura</th>
                        <th scope="col" class="text-center" style="width: 100px">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" class="text-center">{{mantenimiento.fkRegistrarMantenimiento.id}}</td>
                        <td>{{mantenimiento.fkRegistrarMantenimiento.fechaMantenimiento | date:'Y-m-d'}}</td>
                        <td>{{mantenimiento.fkRegistrarMantenimiento.lugarMantenimiento}}</td>
                        <td>{{mantenimiento.fkRegistrarMantenimiento.ciudadMantenimiento}}</td>
                        <td>{{mantenimiento.fkRegistrarMantenimiento.numeroFactura}}</td>
                        <td>$ {{mantenimiento.fkRegistrarMantenimiento.valorMantenimiento}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2" style="font-size: 15px;" class="text-black"><b>Descripción</b></td>
                        <td colspan="6" class="text-break">{{mantenimiento.fkRegistrarMantenimiento.descripcionMantenimiento}}</td>
                    </tr>
                </tbody>

            </table>
            {% endfor %}

        </div>
    </main>

</section>

<!-- LIBRERIAS Y SCRIPT PARA GENERAR EL REPORTE -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    // html2canvas(document.body,{
    // onrendered:function(canvas){

    // var img=canvas.toDataURL("image/png");
    // var doc = new jsPDF();
    // doc.addImage(img,'JPEG',20,20);
    // doc.save('test.pdf');
    // }

    // });
    window.print()
    });
</script>
<!-- <script>
    $(document).ready(function(){
        window.jsPDF = window.jspdf.jsPDF
        var doc = new jsPDF();
        var cuerpo = document.querySelector('#cuerpo')
        doc.fromHTML(cuerpo)
        doc.save('prueba.pdf')
    });
</script> -->

<!-- FECHA -->
<script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;
</script>

<!-- HORA -->
<script>
function myFunc()  {
	var now = new Date();
	var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
	document.getElementById('display-time').innerHTML= time;
}
myFunc();
setInterval(myFunc, 1000);
</script>

{% endblock contenido %}
