{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Bloque que incluirá el nav.html para que lo muestre en la página -->
{% block menu %}
{% include 'partials/nav.html' %}
{% endblock menu %}

{% block contenido %}

<div class="text-center p-2 w-100">
    <h1>Gestión de Usuarios</h1>
</div>
{% if form.errors %}
<div class="alert alert-danger">
    {{form.errors}}
</div>
{% endif %}
<!-- {% if form.error %}
<div class="alert alert-danger">
    {{form.error}}
</div>
{% endif %} -->

<div class="d-flex justify-content-center mb-4 m-2 w-100 p-3">
    
    <div class="shadow-lg p-3 table-responsive
    w-100 h_datatable">



        <table id="example5" class="table-striped display responsive nowrap mitexto" style="font-size: 18px;">
            <thead>
                <th>Acciones</th>
                <th>Id</th>
                <th >Estado</th>
                <th>Foto</th>
                <th >Primer Nombre</th>
                <th >Segundo Nombre</th>
                <th >Primer Apellido</th>
                <th >Segundo Apellido</th>
                <th >Tipo de Documento</th>
                <th >Número de Documento</th>
                <th >Número de Teléfono</th>
                <th >Ciudad de Residencia</th>
                <th >Dirección de Residencia</th>
                <th >Correo Electrónico</th>
                <th >Género</th>
                <th >Cargo</th>
                <th >Fecha de Registro</th>
                <th >Tipo de Usuario</th>
            </thead>
            <tbody>

                {% for usuario in usuarios %}
                <tr>
                    <th>
                        <form action="" method="POST" class="col-4">

                            <!-- TOKEN DE SEGURIDAD -->
                            {% csrf_token %}

                            <!-- Botón del ojo para editar la información -->
                            <input type="hidden" name="pk_usuario" value="{{usuario.id}}">
                            <button class="btn btn-block pe-1 ps-1 mitexto" style="font-size: 18px;" onClick="editarusuario()" name="editar-usuario">
                                <i class="bi bi-eye-fill" data-toggle="tooltip" title="Ver Usuario"></i>
                            </button>

                            <!-- Botón de eliminar integrado con un modal y un toastr de mensaje despues de aceptar -->
                            {% if perms.usuarios.delete_usuario %}
                            <button type="button" class="btn pe-1 ps-1 mitexto" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#modal-eliminar-usuario-{{usuario.id}}"><i class="bi bi-trash3-fill" data-toggle="tooltip" title="Eliminar Usuario"></i></a>
                            </button>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="modal-eliminar-usuario-{{usuario.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">ALERTA DE
                                                ELIMINACIÓN</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start fs-5 text-wrap" style="font-weight: normal;">
                                            ¿Está seguro que desea Eliminar El
                                            usuario con ID # {{usuario.id}}?
                                            <br>
                                            <br>
                                            Número de documento: {{usuario.numeroDocumento}}
                                            <br>
                                            Primer nombre: {{usuario.primerNombre}}
                                            <br>
                                            Primer Apellido: {{usuario.primerApellido}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn
                                                btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <input type="hidden" name="pk_usuario" value="{{usuario.id}}">
                                            <a class="btn btn-block btn-success" onClick="eliminarUsuario()" name="eliminar-usuario" href="{% url 'eliminar-usuario' usuario.id %}">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </th>
                    <th class="text-center">{{usuario.id}}</th>
                    <th>
                        {% if usuario.estado == '1' %}
                            Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </th>
                    <th><img src="{{ MEDIA_URL }}{{usuario.foto.url}}" alt="" width="50"
                        height="50" class="rounded-circle me-2 " data-toggle="tooltip" title="Foto de Perfil"></th>
                    <th>{{usuario.primerNombre}}</th>
                    <th>{{usuario.segundoNombre}}</th>
                    <th>{{usuario.primerApellido}}</th>
                    <th>{{usuario.segundoApellido}}</th>
                    <th>{{usuario.tipoDocumento}}</th>
                    <th>{{usuario.numeroDocumento}}</th>
                    <th>{{usuario.numeroTelefono}}</th>
                    <th>{{usuario.ciudadResidencia}}</th>
                    <th>{{usuario.direccionResidencia}}</th>
                    <th>{{usuario.correoElectronico}}</th>
                    <th>{{usuario.genero}}</th>
                    <th>{{usuario.cargo}}</th>
                    <th>{{usuario.fechaRegistro}}</th>
                    <th>{{usuario.tipoUsuario}}</th>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</div>

<br>

{% if usuario.estado == '1' %}

<div id="edit-usuario" class="m-3 rounded-bottom" style="box-shadow: 0px 0px 5px 1px;">
    
    <div style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209, 208, 208);">
        <h3 style="text-align: center;">Editando al Usuario "{{usuario.primerNombre}} {{usuario.primerApellido}}"</h3>
    </div>
<div id="editar-usuario" class="d-flex justify-content-center m-2 w-100 p-3 ">
    <!-- Botones para seleccionar o diligenciar información -->
    <form action="" method="POST" enctype="multipart/form-data" class="p-left pe-3 ps-3">

    {% csrf_token %}
    <div class="p-3 div-cajas2">
        <div class="d-inline-block width-28 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">ID Usuario</label>
            <div class="input-group mb-3 w-100">
                <input type="hidden" name="pk_usuario" value="{{usuario.id}}">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" disabled id="" name="" value="{{usuario.id}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28 ">
            <label for="basic-url" class="form-label w-75 ps-2">Primer Nombre</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;"
                    name="primerNombre" id="id_primerNombre" value="{{usuario.primerNombre}}"
                    aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Segundo Nombre</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;"
                    name="segundoNombre" id="id_segundoNombre" value="{{usuario.segundoNombre}}"
                    aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Primer Apellido</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;"
                    name="primerApellido" id="id_primerApellido" value="{{usuario.primerApellido}}"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Segundo Apellido</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="segundoApellido" value="{{usuario.segundoApellido}}"
                    id="id_segundoApellido"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Foto</label>
            <div class="input-group mb-3 w-100">
                <input  type="file" class="form-control mitexto" style="font-size: 18px;" name="foto" value="{{image_user}}" 
                    id="id_foto"
                    aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Tipo de Documento</label>
            <div class="input-group mb-3 w-100">
                <select id="id_tipoDocumento" class="form-select mitexto" style="font-size: 18px;" name="tipoDocumento" value="{{usuario.tipoDocumento}}"
                    aria-label="tipo-activo">
                    <option selected>{{usuario.tipoDocumento}}</option>
                    <option value="C.C.">Cédula de Ciudadania</option>
                    <option value="C.E.">Cédula de Extranjería</option>
                    <option value="PASS">Pasaporte</option>
                </select>
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Número de Identificación</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="numeroDocumento" value="{{usuario.numeroDocumento}}"
                    id="id_numeroDocumento"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Número de Teléfono</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="numeroTelefono" value="{{usuario.numeroTelefono}}"
                    id="id_numeroTelefono"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Ciudad de Residencia</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="ciudadResidencia" value="{{usuario.ciudadResidencia}}"
                    id="id_ciudadResidencia"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Dirección de Residencia</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="direccionResidencia" value="{{usuario.direccionResidencia}}"
                    id="id_direccionResidencia"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Correo Electrónico</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="correoElectronico" value="{{usuario.correoElectronico}}"
                    id="id_correoElectronico"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Género</label>
            <div class="input-group mb-3 w-100">
                <select id="id_genero" class="form-select mitexto" style="font-size: 18px;" name="genero" value="{{usuario.genero}}"
                    aria-label="tipo-activo">
                    <option selected>{{usuario.genero}}</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                    <option value="Prefiero No Decir">Prefiero No Decir</option>
                </select>
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Cargo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" name="cargo" value="{{usuario.cargo}}"
                    id="id_cargo"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Fecha de registro</label>
            <div class="input-group mb-3 w-100">
                <input disabled id="id_fechaRegistro" type="date" class="form-control mitexto" style="font-size: 18px;" name="fechaRegistro" value="{{usuario.fechaRegistro | date:'Y-m-d'}}"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Tipo de Usuario</label>
            <div class="input-group mb-3 w-100">
                <select id="id_tipoUsuario" class="form-select mitexto" style="font-size: 18px;" name="tipoUsuario" value="{{usuario.tipoUsuario}}"
                    aria-label="tipo-activo">
                    <option selected >{{usuario.tipoUsuario}}</option>
                    <option value="Funcionario">Funcionario</option>
                    <option value="Conductor">Conductor</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>
        </div>

        <!-- <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Rol</label>
            <div class="input-group mb-3 w-100">
                <select id="id_groups_from" class="form-select" name="groups_old" value="{{usuario.groups}}"
                    aria-label="tipo-activo">
                    <option selected >{{usuario.groups}}</option>
                    <option value="Funcionario">Funcionario</option>
                    <option value="Conductor">Conductor</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>
        </div> -->
        <br>
        <br>
        <div class="w-100 ps-2 pe-2">
        <button type="button" class="btn btn-success boton-secundario mitexto" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#modal-guardar-usuario">
            EDITAR
        </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-guardar-usuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">CONFIRMAR CAMBIOS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start fs-5 text-wrap">
                        ¿Está seguro que desea guardar los
                        cambios realizados al usuario?
                        <br>
                        <br>
                        Nombres: {{usuario.primerNombre}} {{usuario.segundoNombre}} 
                        <br>
                        Apellidos: {{usuario.primerApellido}} {{usuario.segundoApellido}}
                        <br>
                        Número de Identificación: {{usuario.numeroDocumento}}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn
                            btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button data-bs-toggle="modal" data-bs-target=""
                            data-bs-dismiss="modal" class="btn
                            btn-success" name="c-editar-usuario">Aceptar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</div>

{% endif %}

{% if usuario.estado == '0' %}

<div id="edit-usuario" class="m-3 rounded-bottom" style="box-shadow: 0px 0px 5px 1px;">
    
    <div style="box-shadow: 0px 0px 0px 1px; background-color: rgb(209, 208, 208);">
        <h3 style="text-align: center;">Usuario inactivo: "{{usuario.primerNombre}} {{usuario.primerApellido}}"</h3>
    </div>
<div id="editar-usuario" class="d-flex justify-content-center m-2 w-100 p-3 ">
    <!-- Botones para seleccionar o diligenciar información -->
    <form action="" method="POST" enctype="multipart/form-data" class="p-left pe-3 ps-3">

    {% csrf_token %}
    <div class="p-3 div-cajas2">
        <div class="d-inline-block width-28 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 ps-2">ID Usuario</label>
            <div class="input-group mb-3 w-100">
                <input type="hidden" name="pk_usuario" value="{{usuario.id}}">
                <input type="text" class="form-control mitexto" style="font-size: 18px;" disabled id="" name="" value="{{usuario.id}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28 ">
            <label for="basic-url" class="form-label w-75 ps-2">Primer Nombre</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;"
                    name="primerNombre" id="id_primerNombre" value="{{usuario.primerNombre}}"
                    aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Segundo Nombre</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;"
                    name="segundoNombre" id="id_segundoNombre" value="{{usuario.segundoNombre}}"
                    aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Primer Apellido</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;"
                    name="primerApellido" id="id_primerApellido" value="{{usuario.primerApellido}}"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Segundo Apellido</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="segundoApellido" value="{{usuario.segundoApellido}}"
                    id="id_segundoApellido"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Foto</label>
            <div class="input-group mb-3 w-100">
                <input disabled  type="file" class="form-control mitexto" style="font-size: 18px;" name="foto" value="{{image_user}}" 
                    id="id_foto"
                    aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Tipo de Documento</label>
            <div class="input-group mb-3 w-100">
                <select disabled id="id_tipoDocumento" class="form-select mitexto" style="font-size: 18px;" name="tipoDocumento" value="{{usuario.tipoDocumento}}"
                    aria-label="tipo-activo">
                    <option selected>{{usuario.tipoDocumento}}</option>
                    <option value="C.C.">Cédula de Ciudadania</option>
                    <option value="C.E.">Cédula de Extranjería</option>
                    <option value="PASS">Pasaporte</option>
                </select>
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Número de Identificación</label>
            <div class="input-group mb-3 w-100">
                <input disabled disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="numeroDocumento" value="{{usuario.numeroDocumento}}"
                    id="id_numeroDocumento"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Número de Teléfono</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="numeroTelefono" value="{{usuario.numeroTelefono}}"
                    id="id_numeroTelefono"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Ciudad de Residencia</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="ciudadResidencia" value="{{usuario.ciudadResidencia}}"
                    id="id_ciudadResidencia"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Dirección de Residencia</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="direccionResidencia" value="{{usuario.direccionResidencia}}"
                    id="id_direccionResidencia"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Correo Electrónico</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="correoElectronico" value="{{usuario.correoElectronico}}"
                    id="id_correoElectronico"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Género</label>
            <div class="input-group mb-3 w-100">
                <select disabled id="id_genero" class="form-select mitexto" style="font-size: 18px;" name="genero" value="{{usuario.genero}}"
                    aria-label="tipo-activo">
                    <option selected>{{usuario.genero}}</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                    <option value="Prefiero No Decir">Prefiero No Decir</option>
                </select>
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Cargo</label>
            <div class="input-group mb-3 w-100">
                <input disabled type="text" class="form-control mitexto" style="font-size: 18px;" name="cargo" value="{{usuario.cargo}}"
                    id="id_cargo"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Fecha de registro</label>
            <div class="input-group mb-3 w-100">
                <input disabled id="id_fechaRegistro" type="date" class="form-control mitexto" style="font-size: 18px;" name="fechaRegistro" value="{{usuario.fechaRegistro | date:'Y-m-d'}}"
                    aria-describedby="basic-addon3"
                    placeholder="">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">Tipo de Usuario</label>
            <div class="input-group mb-3 w-100">
                <select disabled id="id_tipoUsuario" class="form-select mitexto" style="font-size: 18px;" name="tipoUsuario" value="{{usuario.tipoUsuario}}"
                    aria-label="tipo-activo">
                    <option selected >{{usuario.tipoUsuario}}</option>
                    <option value="Funcionario">Funcionario</option>
                    <option value="Conductor">Conductor</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        
    </div>
    </form>
</div>
</div>

{% endif %}
<div class="w-100 ps-2 pe-3">
<button type="button" class="btn btn-warning boton-primario mitexto" style="font-size: 18px;" data-bs-toggle="modal"
data-bs-target="#modal-nuevo-usuario">
REGISTRAR USUARIO
</button>


<!-- Modal -->
<div class="modal fade" id="modal-nuevo-usuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">REGISTRAR NUEVO USUARIO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="f_usuario" action="" method="POST" enctype="multipart/form-data">

                <div class="modal-body text-start" id="form-nuevo-usuario">

                    {% csrf_token %}

                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Primer Nombre</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control"
                                name="primerNombre" id="id_primerNombre"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="50">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Segundo Nombre</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control"
                                name="segundoNombre" id="id_segundoNombre"
                                aria-describedby="basic-addon3">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Primer Apellido</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control"
                                name="primerApellido" id="id_primerApellido"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="50">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Segundo Apellido</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control" name="segundoApellido"
                                id="id_segundoApellido"
                                aria-describedby="basic-addon3">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Foto</label>
                        <div class="input-group mb-3 w-100">
                            <input type="file" class="form-control" name="foto"
                                id="id_foto"
                                aria-describedby="basic-addon3">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Tipo de Documento</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_tipoDocumento" class="form-select" name="tipoDocumento"
                                aria-label="tipo-activo" required>
                                <option selected disabled>------</option>
                                <option value="C.C.">Cédula de Ciudadania</option>
                                <option value="C.E.">Cédula de Extranjería</option>
                                <option value="PASS">Pasaporte</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Número de Identificación</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control" name="numeroDocumento"
                                id="id_numeroDocumento"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="50">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Número de Teléfono</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control" name="numeroTelefono"
                                id="id_numeroTelefono"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="20">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Ciudad de Residencia</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control" name="ciudadResidencia"
                                id="id_ciudadResidencia"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="50">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Dirección de Residencia</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control" name="direccionResidencia"
                                id="id_direccionResidencia"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="100">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Correo Electrónico</label>
                        <div class="input-group mb-3 w-100">
                            <input type="email" class="form-control" name="correoElectronico"
                                id="id_correoElectronico"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="100">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Género</label>
                        <div class="input-group mb-3 w-100">
                            <select id="id_genero" class="form-select" name="genero"
                                aria-label="tipo-activo">
                                <option selected disabled>------</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                                <option value="Prefiero No Decir">Prefiero No Decir</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Cargo</label>
                        <div class="input-group mb-3 w-100">
                            <input type="text" class="form-control" name="cargo"
                                id="id_cargo"
                                aria-describedby="basic-addon3" required minlength="1"
                                maxlength="30">
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Fecha de Registro</label>
                        <div class="input-group mb-3 w-100">
                            <input id="id_fechaRegistro" type="date" class="form-control" name="fechaRegistro"
                                aria-describedby="basic-addon3" required>
                        </div>
                    </div>
            
                    <div class="d-inline-block w-100">
                        <label for="basic-url" class="form-label ps-2">Tipo de Usuario</label>
                        <div class="input-group mb-3 w-100">
                            <select required id="id_tipoUsuario" class="form-select" name="tipoUsuario"
                                aria-label="tipo-activo" required>
                                <option selected disabled>------</option>
                                <option value="Funcionario">Funcionario</option>
                                <option value="Conductor">Conductor</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                    </div>

                    <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL ACTIVO -->

                    <div class="w-100 d-flex justify-content-center">
                    <button class="btn btn-success
                        fs-5 m-2" name="form-nuevo-usuario">Guardar</button>
                    </div> 
                    <div class="w-100 d-flex justify-content-center">
                        <button type="button" class="btn
                            btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    const $f_usuario = document.getElementById('f_usuario');
    const $id_primerNombre = document.getElementById('id_primerNombre');
    const $id_primerApellido = document.getElementById('id_primerApellido');
    
    (function(){
        $f_usuario.addEventListener('submit', function(a){
            let primerNombre=String($id_primerNombre.value).trim();
            let primerApellido=String($id_primerApellido.value).trim();
            if (primerNombre === "" || primerApellido === ""){
                alert("El dato no puede ir vacio o solo con espacios en blanco");
                a.preventDefault();
            }
        });
    })();
</script> -->

{% include 'partials/tamañoLetra.html' %}

{% endblock contenido %}