<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Inicio del contenedor para la página de inicio de sesión (Index) -->
<div class="container p-5 text-center w-form-login mx-auto">

    <!-- Container -->
    <div id="container">

        <div class="main" id="main">

            <div class="content">

                <!-- Content -->
                <div id="content" class="colM">

                    <h1> Restablecimiento de contraseña enviado</h1>

                    <br>

                    <p class="fs-5">Le enviamos instrucciones por correo electrónico para
                        configurar su contraseña, si existe una cuenta con el correo
                        electrónico que ingresó. Debería recibirlos en breve.</p>

                    <p class="fs-5">Si no recibe un correo electrónico, asegúrese de haber
                        ingresado la dirección con la que se registró y verifique su
                        carpeta de correo no deseado.</p>

                </div>
                <!-- END Content -->
            </div>
        </div>
    </div>
    <!-- END Container -->

</div>

{% endblock contenido %}