<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Inicio del contenedor para la página de inicio de sesión (Index) -->
<div class="container p-5 text-center w-form-login mx-auto">
    <div id="container">

        <div class="main" id="main">

            <div class="content">

                <!-- Content -->
                <div id="content" class="colM">

                    <h1>Restablecimiento de contraseña completado</h1>

                    <p>Su contraseña ha sido establecida. Ahora puede continuar
                        e iniciar sesión.</p>

                    <p><a class="btn btn-success" href="{% url 'logout' %}">Iniciar sesión</a></p>

                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>

</div>

{% endblock contenido %}
