<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Inicio del contenedor para la página de inicio de sesión (Index) -->

<div class="container p-5 text-center w-form-login mx-auto">
    <html lang="es" dir="ltr"><head>

            <body class="" data-admin-utc-offset="-18000">

                <!-- Container -->
                <div id="container">

                    <!-- END Header -->

                    <div class="breadcrumbs">
                        <a href="{% url 'logout' %}">Inicio</a>
                        › Confirmación de restablecimiento de contraseña
                    </div>

                    <div class="main" id="main">

                        <div class="content">

                            <!-- Content -->
                            <div id="content" class="colM">

                                <h1>Escriba la nueva contraseña</h1>

                                <p>Por favor, introduzca su contraseña nueva dos
                                    veces para verificar que la ha escrito
                                    correctamente.</p>

                                <form method="post">
                                    {% csrf_token %}
                                    <!-- <input class=""
                                        autocomplete="user.username"
                                        > -->
                                    <div class="form-row field-password1">
                                        <label for="id_new_password1">Contraseña
                                            nueva</label>
                                        <br>
                                        <input type="password"
                                            name="new_password1"
                                            autocomplete="new-password"
                                            required="" id="id_new_password1"
                                            aria-autocomplete="list">
                                    </div>
                                    <br>
                                    <div class="form-row field-password2">
                                        <label for="id_new_password2">Confirme
                                            contraseña</label>
                                        <br>
                                        <input type="password"
                                            name="new_password2"
                                            autocomplete="new-password"
                                            required="" id="id_new_password2">
                                    </div>
                                    <br>
                                    <input class="btn btn-success" type="submit"
                                        value="Cambiar mi contraseña">
                                </form>

                                <br class="clear">
                            </div>
                            <!-- END Content -->
                            <div id="footer"></div>
                        </div>
                    </div>
                </div>
                <!-- END Container -->

            </body>
        </html>
    </div>

    {% endblock contenido %}
