<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Inicio del contenedor para la página de inicio de sesión (Index) -->
<div class="container p-5 text-center w-form-login mx-auto">

    <!-- Container -->
    <div id="container">

        <div class="main" id="main">

            <div class="content">

                <!-- Content -->
                <div id="content" class="colM">

                    <h1>Restablecer contraseña</h1>

                    <p>¿Olvidaste tu contraseña?</p>
                    <p style="margin-top: -1%;">Ingrese su dirección de correo
                        electrónico y a continuación</p>
                    <p style="margin-top: -1%;">le enviaremos las
                        instrucciones para configurar una nueva.</p>

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row field-email">

                            <label for="id_email">Correo electrónico</label>
                            <br>
                            <input class="w-25 mt-2 mb-2" type="email"
                                name="email"
                                autocomplete="email" maxlength="254"
                                required="" id="id_email">
                        </div>
                        <input class="btn btn-success" type="submit"
                            value="Restablecer mi contraseña">
                        <a class="btn btn-secondary" href="{% url 'logout' %}">Volver</a>

                    </form>

                    <br class="clear">
                </div>
                <!-- END Content -->
            </div>
        </div>
    </div>
    <!-- END Container -->

</div>

{% endblock contenido %}