{% load static %}
<!-- INICIO BOTONES DE AYUDA -->
<!-- Contenedor del botón de AYUDA -->
<div class="bg-light d-flex justify-content-between pt-3 pe-4">

    <div class="ms-3">
        <!-- <a>
            <img src="{% static 'img/interrogation.png' %}" alt="boton-ayuda"
                width="25"
                height="25">
        </a> -->


        <a href="#" class=" link-dark text-decoration-none"
        id="dropdownUser2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'img/interrogation.png' %}" alt="imagen-ayuda" width="30"
            height="30">
    </a>
    
    <ul class="dropdown-menu text-small shadow"
        aria-labelledby="dropdownUser2">
        <!-- Manual -->
        <li><a class="dropdown-item" href="{% static 'Manual_Usuario_Sogma.pdf' %}">Manual</a></li>
        
        <li><hr class="dropdown-divider"></li>

        <!-- Información -->
        <li><a class="dropdown-item" href="{% url 'informacion' %}">Información</a></li>
    </ul>

    </div>

    <!-- Inicio configuración botón para personas con discapacidad  -->
    <a href="#" class=" link-dark text-decoration-none"
        id="dropdownUser2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'img/disabled_1.png' %}" alt="imagen-ayuda" width="35"
            height="35">
    </a>
    
    <ul class="dropdown-menu text-small shadow"
        aria-labelledby="dropdownUser2">
        <!-- Disminuir tamaño de letra -->
        <div class="d-flex align-items-center ms-2 me-0">
            <button type="button" class="disminuir dropdown-item "><i class="bi bi-zoom-out me-3 fs-5"></i>Disminuir
                Tamaño de
                Letra</button>
        </div>

        <!-- Aumentar tamaño de letra -->
        <div class="d-flex align-items-center ms-2 me-0">
            <button type="button" class="aumentar dropdown-item "><i class="bi bi-zoom-in me-3 fs-5"></i>Aumentar 
                Tamaño de 
                Letra</button>
        </div>

        <!-- Contraste oscuro -->
        <div class="d-flex align-items-center ms-2 me-0">
            <button type="button" class="dropdown-item contraste_oscuro"><i class="bi bi-brightness-high-fill me-3 fs-5"></i>Contraste
                Oscuro</button>
        </div>

        <!-- Contraste Gris -->
        <div class="d-flex align-items-center ms-2 me-0">
            <button type="button" class="dropdown-item contraste_gris"><i class="bi bi-brightness-high-fill me-3 fs-5"></i>Contraste
                Gris</button>
        </div>

        <!-- Contraste brillante -->
        <div class="d-flex align-items-center ms-2 me-0">
            <button type="button" class="dropdown-item contraste_brillante"><i class="bbi bi-brightness-high me-3 fs-5"></i>Contraste
                Brillante</button>
        </div>

        <!-- Restablecer Letra y Contraste-->
        <div class="d-flex align-items-center ms-2 me-0">
            <button type="button" class="restablecer dropdown-item"><i class="bi bi-arrow-repeat me-3 fs-5"></i>Restablecer</button>
        </div>
        <li><hr class="dropdown-divider"></li>
    </ul>
</div>
<!-- FIN BOTONES DE AYUDA-->

{% include 'partials/tamañoLetra.html' %}


<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    // function tamañoLetra(){
    //     size = $('.mitexto').css('font-size');
    //     size = parseInt(size, 10);
    //     $( ".tamaño-actual" ).text(size);
    // }

    // tamañoLetra();

    $(".aumentar").on("click", function(){
        if((size + 2) <= 30){
            $(".mitexto").css("font-size", "+=2");
            $(".tamaño-actual").text(size +=1);
        }
    });

    $(".disminuir").on("click", function() {
        if ((size - 2) >= 13) {
            $(".mitexto").css("font-size", "-=2");
            $(".tamaño-actual").text(size -= 1);
        }
    });

    $(".restablecer").on("click", function() {
        $(".mitexto").css("font-size", "initial");
        size = $(".mitexto" ).css("font-size");
        size = parseInt(size, 10);
        $( ".tamaño-actual" ).text(size);
    });
</script> -->