<!-- Carga la libreria de bootstrap5 -->
{% load bootstrap5 %}

<!-- Cargar la carpeta static-->
{% load static %}

<!--cargar el css y javascript-->
{% bootstrap_css %}
{% bootstrap_javascript%}

<!--cargar mensajes modals, etc-->
{% bootstrap_messages%}

<!-- Estructura HTML5 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link o referencia a mi archivo css en la carpeta static -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block estilos %}
        
    {% endblock estilos %}
        

        <!-- Inicio links o referencias para DataTables -->
    <link rel="stylesheet"
        href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <!-- IMPORTANTE-->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <!-- Fin Data Tables -->

    <!-- Titulo de la pestaña en el navegador -->
    <title>{{titulo}}</title> 
</head>

<!-- Inicio del body -->
<body class="color-bg p-4">

    <!-- Estructura del diseño de la pagina web -->
    <section class="container sombra-caja p-0 ">
        <main class="bg-light">

        {% include 'partials/header.html' %}

        
        {% block menu %}
        {% endblock menu %}


        {% include 'partials/ayuda.html' %}

        
        {% block contenido %}
        {% endblock contenido %}

        {% include 'partials/footer.html' %}

    </main>
</section>

{% block javascript %}
    {% include 'partials/javascript.html' %}
{% endblock javascript %}

</body>
<!-- Fin del body -->
</html>