<!-- Cargar la carpeta static -->
{% load static %}

<!-- INICIO DEL HEADER-->
<header id="bar-header"
class="border-bottom border-3 border-dark d-flex flex-wrap
align-items-center justify-content-center
py-3 border-bottom">

    <!-- Contenedor del logo de la Contraloria Departamental del Tolima -->
    <div class="d-flex align-items-center img-contraloria">
        <a href="" class="d-flex align-items-center mb-2 mb-md-0
            text-dark text-decoration-none">
            <img class="w-50 ms-3" src="{% static 'img/logo_contraloria.png' %}" alt="">
        </a>
        <!-- Nombre del proyecto -->
        <h2 class="ps-1 fs-2">SOGMA</h2>
    </div>
    <!-- Slogan o Mensaje de la Contraloria -->
    <span class="ps-5 slogan">.:: Vigilemos lo que es de Todos ::.</span>

    <!-- Icono y nombre de usuario-->
    <!-- Union de dropdown junto con el modal de cerrar sesión -->
    <div class="dropdown d-flex align-items-end ms-5 me-4 ps-5
        icono-login">
        <a href="#" class="d-flex align-items-center link-dark
            text-decoration-none dropdown-toggle" id="dropdownUser2"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="50"
                height="50" class="rounded-circle me-2">
            <strong>Jmcanabal</strong>
        </a>
        <ul class="dropdown-menu text-small shadow"
            aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Copia de Seguridad</a></li>
            <li><hr class="dropdown-divider"></li>

            <!-- Uso de MODAL con BOOTSTRAP 5-->
            <!-- Button trigger modal (se le dan las caracteristicas del button a la etiquea [a]) -->
            <li><a class="dropdown-item" href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#cerrar-sesion">Cerrar sesión</a></li>
        </ul>
        <!-- Modal -->
        <div class="modal fade" id="cerrar-sesion"
            data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="staticBackdropLabel">CERRAR SESIÓN Y
                            SALIR</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        Esta seguro que desea cerrar sesion de
                        ususario y Salir de la pestaña principal.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn
                            btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                        <button type="submit" class="btn
                            btn-primary"><a style="color: white; text-decoration: none;" href="{% url 'inicio' %}">ACEPTAR</a></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin del MODAL con BOOTSTRAP 5-->
    </div>
</header>
<!-- FIN DEL HEADER-->