
{% block javascript %}

<!-- Inicio Scripts DataTable-->
<!-- Link o referencias sacadas de la pagina https://datatables.net/ dependiente el estilo seleccionado -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
    src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script
    src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<!-- ¡IMPORTANTE! -  este script para el funcionamiento de la datatables-->
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<!-- Script para iniciar o arrancar las DataTable-->
<script>
        // TABLA - vehiculos (Consultar Activos)
        $(document).ready( function () {
            $('#example').DataTable();
        });
        /*Script para cambiar de idioma dentro del script de arranque. al cambiar idioma español colombia cambian varias cosas*/
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json",
            }
        })

        // TABLA - extintores (Consultar Activos)
        $(document).ready( function () {
            $('#example2').DataTable();
        });
        /*Script para cambiar de idioma dentro del script de arranque. al cambiar idioma español colombia cambian varias cosas*/
        $('#example2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json",
            }
        })

        // TABLA - equipos de oficina (Consultar Activos)
        $(document).ready( function () {
            $('#example3').DataTable();
        });
        /*Script para cambiar de idioma dentro del script de arranque. al cambiar idioma español colombia cambian varias cosas*/
        $('#example3').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json",
            }
        })

        // TABLA (Historial de Rutas)
        $(document).ready( function () {
            $('#example4').DataTable();
        });
        /*Script para cambiar de idioma dentro del script de arranque. al cambiar idioma español colombia cambian varias cosas*/
        $('#example4').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json",
        }
        })

    </script>
<!-- Fin Scripts DataTable-->

{% endblock javascript %}
