<!-- BARRA DE NAVEGACIÓN-->

<!-- Inicio del contenedor de la barra de navegación -->
<div id="nav-main">
    <ul class="nav d-flex justify-content-center nav-tabs fs-5">

        <!-- Link que redirecciona a la pagina principal (Control de Activos) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'control-activos' %}">Inicio</a>
        </li>

        <!-- Link que redirecciona a la pagina (Generar Alarmas) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'generar-alarma' %}">Generar Alarma</a>
        </li>

        <!-- Link que redirecciona a la pagina (Generar Ruta) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'generar-ruta' %}">Generar Ruta</a>
        </li>

        <!-- Link que redirecciona a la pagina (Consultar Ruta) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'consultar-ruta' %}">Consultar Ruta</a>
        </li>

        <!-- Link que redirecciona a la pagina (Nuevo usuario) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'nuevo-usuario' %}">Nuevo Usuario</a>
        </li>

        <!-- Link que redirecciona a la pagina (Registrar Matenimiento) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'registrar-mantenimiento' %}">Registrar Mantenimiento</a>
        </li>

        <!-- Link que redirecciona a la pagina (Usuarios creados) ------------------------PROVISIONAL----------------------- --> 
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'usuarios-creados' %}">Usuarios Creados</a>
        </li>

    </ul>
</div>
<!-- Fin del contenedor de la barra de navegación -->