<!-- Barra de Navegación-->
<div id="nav-main">
    <ul class="nav d-flex justify-content-center nav-tabs fs-5">

        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Control-Activos' %}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Generar-Alarma' %}">Generar
                Alarma</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Generar-Ruta' %}">Generar Ruta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Consultar-Ruta' %}">Consultar
                Ruta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Nuevo-Usuario' %}">Nuevo
                Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Registrar-Mantenimiento' %}">Registrar
                Mantenimiento</a>
        </li>
    </ul>
</div>