<!-- Barra de Navegación-->

<!-- Inicio del contenedor de la barra de navegación -->
<div id="nav-main">
    <ul class="nav d-flex justify-content-center nav-tabs fs-5">

        <!-- Link que redirecciona a la pagina principal (Control de Activos) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Control-Activos' %}">Inicio</a>
        </li>

        <!-- Link que redirecciona a la pagina (Generar Alarmas) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Generar-Alarma' %}">Generar
                Alarma</a>
        </li>

        <!-- Link que redirecciona a la pagina (Generar Ruta) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Generar-Ruta' %}">Generar Ruta</a>
        </li>

        <!-- Link que redirecciona a la pagina (Consultar Ruta) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Consultar-Ruta' %}">Consultar
                Ruta</a>
        </li>

        <!-- Link que redirecciona a la pagina (Nuevo usuario) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'nuevo-usuario' %}">Nuevo
                Usuario</a>
        </li>

        <!-- Link que redirecciona a la pagina (Registrar Matenimiento) -->
        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'Registrar-Mantenimiento' %}">Registrar
                Mantenimiento</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
                href="{% url 'usuarios-crear' %}">Crear 
                Usuario</a>
        </li>
        
    </ul>
</div>
<!-- Fin del contenedor de la barra de navegación -->