<!-- SE CARGAN LA CARPETA STATIC -->
{% load static %}

<!-- SE CARGAN LOS ESTILOS LLAMADOS WIZARDFORM.CSS PARA EL MODAL -->
<!-- https://bbbootstrap.com/snippets/bootstrap-5-simple-multi-step-form-33401608 -->
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/wizardForm.css' %}">
{% endblock estilos %}

<!-- CODIGO RELACIONADO AL FORM WIZARD -->
<div class="container-wizard mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="">
            <form id="regForm">
                <h1 id="register">REGISTRAR</h1>
                <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span
                        class="step"></span> <span class="step"></span> </div>
                <div class="tab">
                    <h3>Seleccione El Tipo De Activo</h3>
                    <label class="container-wizard">Vehículo
                        <input value="1" onClick="displayForm(this)" class="input-wizard" type="radio" 
                            name="radioActivo">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container-wizard">Extintor
                        <input value="2" onClick="displayForm(this)" class="input-wizard" type="radio"
                            name="radioActivo">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container-wizard">Equipo De Oficina
                        <input value="3" onClick="displayForm(this)" class="input-wizard" type="radio"
                            name="radioActivo">
                        <span class="checkmark"></span>
                    </label>
                    <!-- oninput="this.className = ''" Este evento produce que se acorde el input al escribir.-->
                </div>

                <div class="tab">
                    <div id="form-vehiculo" style="display: none;">
                        <p><input id="id_marcaVehiculo" class="input-wizard" placeholder="Marca del Vehículo"
                                name="marcaVehiculo"></p>
                        <p><input id="id_modeloVehiculo" class="input-wizard" placeholder="Modelo del Vehículo"
                                name="modeloVehiculo"></p>
                        <p><input id="id_placaVehiculo" class="input-wizard" placeholder="Placa del Vehículo"
                                name="placaVehiculo"></p>
                        <p><input id="id_colorVehiculo" class="input-wizard" placeholder="Color del Vehículo"
                                name="colorVehiculo"></p>
                        <p><input id="id_serialVehiculo" class="input-wizard" placeholder="Serial del Vehiculo"
                                name="serialVehiculo"></p>
                        <p><input id="id_tipoCombustible" class="input-wizard" placeholder="Tipo de Combustible"
                                name="tipoCombustible"></p>
                        <p><input id="id_cantidadPasajeros" class="input-wizard" placeholder="Cantidad de Pasajeros"
                                name="cantidadPasajeros"></p>
                        <p><input id="id_personaEncargadaVehiculo" class="input-wizard" placeholder="Persona a Cargo"
                                name="personaEncargadaVehiculo"></p>
                        <p><select id="id_estadoVehiculo" class="form-select input-wizard" name="estadoVehiculo">
                                <option selected>Estado Del Vehículo</option>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select></p>
                        <p><input id="id_fechaIngresoVehiculo" class="input-wizard" placeholder="Fecha de Ingreso"
                                name="fechaIngresoVehiculo"></p>
                        <p><input id="id_fechaInicioSoat" class="input-wizard" placeholder="Fecha Inicio Soat"
                                name="fechaInicioSoat"></p>
                        <p><input id="id_fechaFinSoat" class="input-wizard" placeholder="Fecha Vencimiento Soat"
                                name="fechaFinSoat"></p>
                        <p><input id="id_fechaInicioTecnicomecanica" class="input-wizard"
                                placeholder="Fecha Inicio Tecnicomecanica" name="fechaInicioTecnicomecanica"></p>
                        <p><input id="id_fechaVencimientoTecnicomecanica" class="input-wizard"
                                placeholder="Fecha Vencimiento Tecnicomecanica" name="fechaVencimientoTecnicomecanica">
                        </p>
                    </div>
                    <div id="form-extintor" style="display: none;">
                        <h2>extintores</h2>
                    </div>
                    <div id="form-oficina" style="display: none;">
                        <h2>oficina</h2>
                    </div>
                </div>
                
                <div class="tab">
                    <p><input class="input-wizard" placeholder="Credit Card #" oninput="this.className = ''"
                            name="email"></p>
                    <p>Exp Month
                        <select id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </p>
                    <p>Exp Year
                        <select id="year">
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </p>

                    <p><input class="input-wizard" placeholder="CVV" oninput="this.className = ''" name="phone"></p>
                </div>

                <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png"
                        width="100" class="mb-4">
                    <h3>Thanks for your Donation!</h3> <span>Your donation has been entered! We will contact you
                        shortly!</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">  <a href="{% url 'control-activos' %}" style="font-size: 20px;"  class="btn btn-danger"
                        
                        aria-label="Close">Cancelar</a> <button class="btn btn-primary"
                            style="font-size: 20px;" type="button" id="nextBtn" onclick="nextPrev(1)">SIGUIENTE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% block javascript %}
<script>
    function displayTable(c) {
        if (c.value == "vehiculo") {
            jQuery('#table-vehiculo').toggle('show');
            jQuery('#table-extintor').hide();
            jQuery('#table-oficina').hide();
        }
        if (c.value == "extintor") {
            jQuery('#table-extintor').toggle('show');
            jQuery('#table-vehiculo').hide();
            jQuery('#table-oficina').hide();

        }
        if (c.value == "oficina") {
            jQuery('#table-oficina').toggle('show');
            jQuery('#table-vehiculo').hide();
            jQuery('#table-extintor').hide();

        }
    }
    function displayForm(c) {
        if (c.value == "1") {
            jQuery('#form-vehiculo').toggle('show');
            jQuery('#form-extintor').remove();
            jQuery('#form-oficina').remove();

        }
        if (c.value == "2") {
            jQuery('#form-extintor').toggle('show');
            jQuery('#form-vehiculo').remove();
            jQuery('#form-oficina').remove();

        }
        if (c.value == "3") {
            jQuery('#form-oficina').toggle('show');
            jQuery('#form-vehiculo').remove();
            jQuery('#form-extintor').remove();

        }
    };  
</script>
<script>
    //your javascript goes here
    var currentTab = 0;
    document.addEventListener("DOMContentLoaded", function (event) {


        showTab(currentTab);

    });

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // if (n == 0) {
        //     document.getElementById("prevBtn").style.display = "none";
        // } else {
        //     document.getElementById("prevBtn").style.display = "inline";
        // }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Siguiente";
        }
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm()) return false;
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length) {
            // document.getElementById("regForm").submit();
            // return false;
            //alert("sdf");
            document.getElementById("nextprevious").style.display = "none";
            document.getElementById("all-steps").style.display = "none";
            document.getElementById("register").style.display = "none";
            document.getElementById("text-message").style.display = "block";

        }
        showTab(currentTab);
    }

    function validateForm() {
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        for (i = 0; i < y.length; i++) {
            if (y[i].value == "") {
                y[i].className += " invalid";
                valid = false;
            }
        }
        if (valid) { document.getElementsByClassName("step")[currentTab].className += " finish"; }
        return valid;
    }

    function fixStepIndicator(n) {
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) { x[i].className = x[i].className.replace(" active", ""); }
        x[n].className += " active";
    }
</script>
{% endblock javascript %}