<!-- SE CARGAN LA CARPETA STATIC -->
{% load static %}

<!-- SE CARGAN LOS ESTILOS LLAMADOS WIZARDFORM.CSS PARA EL MODAL -->
<!-- https://bbbootstrap.com/snippets/bootstrap-5-simple-multi-step-form-33401608 -->
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/wizardForm.css' %}">
{% endblock estilos %}

{% if form.errors %}
<div class="alert alert-danger">
    {{form.errors}}
</div>
{% endif %}
<!-- CÓDIGO RELACIONADO AL FORM WIZARD -->
<div class="container-wizard mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="">

            <!-- FORM PARA EL REGISTRO DE USUARIO -->
            <!-- <form id="regForm" action="" method="POST" enctype="multipart/form-data"> -->
            <div class="me-3 pe-3">
                <!-- TOKEN DE SEGURIDAD -->
                {% csrf_token %}

                <!-- CANTIDAD DE STEP O BOTONES DEBAJO DEL TITULO QUE SE MOSTRARAN -->
                <h1 id="register">REGISTRAR ACTIVO</h1>
                <div class="all-steps" id="all-steps"> <span class="step"></span>
                    <span class="step"></span>
                </div>

                <!-- PRIMERA PARTE DEL WIZZARD DONDE SE SELECCIONE QUE ACTIVO SE DESEA REGISTRAR -->
                <div class="tab">
                    <!-- TÍTULO -->
                    <h3>Seleccione El Tipo De Activo</h3>
                    <label class="container-wizard">Vehículo
                        <input value="1" onClick="displayForm(this)"
                            class="input-wizard" type="radio"
                            name="radioActivo">
                        <span class="checkmark" data-toggle="tooltip" title="Clic Para Seleccionar"></span>
                    </label>

                    <label class="container-wizard">Extintor
                        <input value="2" onClick="displayForm(this)"
                            class="input-wizard" type="radio"
                            name="radioActivo">
                        <span class="checkmark" data-toggle="tooltip" title="Clic Para Seleccionar"></span>
                    </label>

                    <label class="container-wizard">Equipo De Oficina
                        <input value="3" onClick="displayForm(this)"
                            class="input-wizard" type="radio"
                            name="radioActivo">
                        <span class="checkmark" data-toggle="tooltip" title="Clic Para Seleccionar"></span>
                    </label>
                </div>

                <!-- SEGUNDA PARTE DONDE DEPENDIENDO DEL ACTIVO QUE SE SELECCIONE APARECE EL FORMULARIO PARA SU REGISTRO -->
                <div class="tab">
                    <!-- CAMPOS PARA REGISTRAR LOS VEHÍCULOS ################################################################## -->
                    <form id="f_vehiculo" action="" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="form-vehiculo" style="display: none;">
                            <h2 style="text-align: center;">Vehículo</h2>
                            <p><label class="w-75 mb-0 fs-5">Foto del Vehículo</label><input
                                    type="file"
                                    id="id_fotoVehiculo" class="input-wizard"
                                    name="fotoVehiculo"></p>
                            <p><label class="w-75 mb-0 fs-5">Marca del Vehículo</label><input
                                    id="id_marcaVehiculo" class="input-wizard "
                                    name="marcaVehiculo" required minlength="1"
                                    maxlength="20"></p>
                            <p><label class="w-75 mb-0 fs-5">Modelo del Vehículo</label><input
                                    id="id_modeloVehiculo" class="input-wizard"
                                    name="modeloVehiculo" required minlength="1"
                                    maxlength="10"></p>
                            <p><label class="w-75 mb-0 fs-5">Placa del Vehículo</label><input
                                    id="id_placaVehiculo" class="input-wizard"
                                    name="placaVehiculo" required minlength="1"
                                    maxlength="10"></p>
                            <p><label class="w-75 mb-0 fs-5">Color del Vehículo</label><input
                                    id="id_colorVehiculo" class="input-wizard"
                                    name="colorVehiculo" required minlength="1"
                                    maxlength="20"></p>
                            <p><label class="w-75 mb-0 fs-5">Serial del Vehiculo</label><input
                                    id="id_serialVehiculo" class="input-wizard"
                                    name="serialVehiculo" required minlength="1"
                                    maxlength="50"></p>
                            <p><label class="w-75 mb-0 fs-5">Tipo de Combustible</label><input
                                    id="id_tipoCombustible" class="input-wizard"
                                    name="tipoCombustible" required
                                    minlength="1" maxlength="20"></p>
                            <p><label class="w-75 mb-0 fs-5">Cantidad de
                                    Pasajeros</label><input type="number"
                                    id="id_cantidadPasajeros"
                                    class="input-wizard"
                                    name="cantidadPasajeros"
                                    min="1" pattern="^[0-9]+" onkeyup="validarNumero(this)" required></p>
                            <p><label class="w-75 mb-0 fs-5">Persona a Cargo</label><input
                                    id="id_personaEncargadaVehiculo"
                                    class="input-wizard"
                                    name="personaEncargadaVehiculo" required
                                    minlength="1" maxlength="50"></p>
                            <p><label class="w-75 mb-0 fs-5">Condición Del
                                    Vehículo</label><select
                                    id="id_condicionVehiculo" class="form-select
                                    input-wizard" name="condicionVehiculo"
                                    required>
                                    <option selected disabled>------</option>
                                    <option value="Nuevo">Nuevo</option>
                                    <option value="Usado">Usado</option>
                                </select></p>
                            <p><label class="w-75 mb-0 fs-5">Fecha de
                                    Ingreso</label><input type="date"
                                    id="id_fechaIngresoVehiculo"
                                    class="input-wizard"
                                    name="fechaIngresoVehiculo" required></p>
                            <p><label class="w-75 mb-0 fs-5">Fecha Inicio Soat</label><input
                                    type="date" id="id_fechaInicioSoat"
                                    class="input-wizard"
                                    name="fechaInicioSoat" required></p>
                            <p><label class="w-75 mb-0 fs-5">Fecha Vencimiento
                                    Soat</label><input
                                    type="date" id="id_fechaFinSoat"
                                    class="input-wizard"
                                    name="fechaFinSoat" required></p>
                            <p><label class="w-75 mb-0 fs-5">Fecha Inicio
                                    Técnico Mecánica</label><input type="date"
                                    id="id_fechaInicioTecnicomecanica"
                                    class="input-wizard"
                                    name="fechaInicioTecnicomecanica" required></p>
                            <p><label class="w-75 mb-0 fs-5">Fecha Vencimiento
                                    Técnico Mecánica</label><input type="date"
                                    id="id_fechaVencimientoTecnicomecanica"
                                    class="input-wizard"
                                    name="fechaVencimientoTecnicomecanica"
                                    required>
                            </p>

                            <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL ACTIVO -->
                            <div class="mt-5 w-100 d-flex
                                justify-content-center">
                                <button class="btn btn-success
                                    fs-5 m-2" name="form-vehiculo">Guardar</button>
                            </div>
                        </div>
                    </form>

                    <!-- CAMPOS PARA REGISTRAR LOS EXTINTORES ################################################################## -->
                    <form id="f_extintor" action="" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="form-extintor" style="display: none;">
                            <h2 style="text-align: center;">Extintor</h2>
                            <p><label class="w-75 mb-0 fs-5">Foto del Extintor</label><input
                                    type="file"
                                    id="id_fotoExtintor" class="input-wizard"
                                    name="fotoExtintor"></p>
                            <p><label class="w-75 mb-0 fs-5">Serial
                                    Extintor</label><input type="text"
                                    id="id_serialExtintor"
                                    class="input-wizard"
                                    name="serialExtintor" required minlength="1"
                                    maxlength="50"></p>
                            <p><label class="w-75 mb-0 fs-5">Color
                                    Extintor</label><input type="text"
                                    id="id_colorExtintor"
                                    class="input-wizard"
                                    name="colorExtintor" required minlength="1"
                                    maxlength="20"></p>
                            <p><label class="w-75 mb-0 fs-5">Ubicación del
                                    Extintor</label><input type="text"
                                    id="id_ubicacionExtintor"
                                    class="input-wizard"
                                    name="ubicacionExtintor" required
                                    minlength="1" maxlength="50"></p>
                            <p><label class="w-75 mb-0 fs-5">Tipo de Extintor</label><select
                                    id="id_tipoExtintor" class="form-select
                                    input-wizard" name="tipoExtintor" required>
                                    <option selected disabled>------</option>
                                    <option value="A">Tipo A</option>
                                    <option value="B">Tipo B</option>
                                    <option value="C">Tipo C</option>
                                    <option value="D">Tipo D</option>
                                </select></p>
                            <p><label class="w-75 mb-0 fs-5">Peso del
                                    Extintor (Kg)</label><input type="text"
                                    id="id_pesoExtintor"
                                    class="input-wizard"
                                    name="pesoExtintor" required minlength="1"
                                    maxlength="3"></p>
                            
                            <p><label class="w-75 mb-0 fs-5">Fecha de
                                Ingreso</label><input type="date"
                                id="id_fechaIngresoExtintor"
                                class="input-wizard"
                                name="fechaIngresoExtintor" required></p>

                            <p><label class="w-75 mb-0 fs-5">Fecha Última
                                    Recarga</label><input
                                    type="date"
                                    id="id_fechaUltimaRecarga"
                                    class="input-wizard"
                                    name="fechaUltimaRecarga" required></p>

                            <!-- BOTON PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL ACTIVO -->
                            <div class="mt-5 w-100 d-flex
                                justify-content-center">
                                <button class="btn btn-success
                                    fs-5 m-2" name="form-extintor">Guardar</button>
                            </div>
                        </div>
                    </form>

                    <!-- CAMPOS PARA REGISTRAR LOS EQUIPOS DE OFICINA ############################################################## -->
                    <form id="f_equipo" action="" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="form-oficina" style="display: none;">
                            <h2 style="text-align: center;">Equipo De Oficina</h2>
                            <p><label class="w-75 mb-0 fs-5">Foto del Equipo</label><input
                                    type="file"
                                    id="id_fotoEquipo" class="input-wizard"
                                    name="fotoEquipo"></p>
                            <p><label class="w-75 mb-0 fs-5">Serial Equipo</label><input
                                    id="id_serialEquipo" class="input-wizard"
                                    name="serialEquipo" required minlength="1"
                                    maxlength="50"></p>
                            <p><label class="w-75 mb-0 fs-5">Marca del Equipo</label><input
                                    id="id_marcaEquipo" class="input-wizard"
                                    name="marcaEquipo" required minlength="1"
                                    maxlength="20"></p>
                            <p><label class="w-75 mb-0 fs-5">Color del Equipo</label><input
                                    id="id_colorEquipo" class="input-wizard"
                                    name="colorEquipo" required minlength="1"
                                    maxlength="20"></p>
                            <p><label class="w-75 mb-0 fs-5">Sistema Operativo</label><input
                                    id="id_sistemaOperativo"
                                    class="input-wizard"
                                    name="sistemaOperativo"></p>
                            <p><label class="w-75 mb-0 fs-5">RAM del Equipo</label><input
                                    id="id_ramEquipo" class="input-wizard"
                                    name="ramEquipo"></p>
                            <p><label class="w-75 mb-0 fs-5">Memoria del Equipo</label><input
                                    id="id_memoriaEquipo" class="input-wizard"
                                    name="memoriaEquipo"></p>
                            <p><label class="w-75 mb-0 fs-5">Ubicación del
                                    Equipo</label><input
                                    id="id_ubicacionEquipo" class="input-wizard"
                                    name="ubicacionEquipo" required required
                                    minlength="1" maxlength="50"></p>
                            <p><label class="w-75 mb-0 fs-5">Fecha de
                                    Ingreso</label><input type="date"
                                    id="id_fechaIngresoEquipo"
                                    class="input-wizard"
                                    name="fechaIngresoEquipo" required></p>
                            <p><label class="w-75 mb-0 fs-5">Componentes
                                    del Equipo</label><textarea
                                    id="id_componentesAdicionales"
                                    class="input-wizard"
                                    name="componentesAdicionales" style="resize:
                                    none; height: 100px;"></textarea></p>

                            <!-- BOTÓN PARA GUARDAR LA INFORMACIÓN DIGITADA EN EL FORMULARIO DEL ACTIVO -->
                            <div class="w-100 d-flex
                                justify-content-center">
                                <button class="btn btn-success
                                    m-2" style="font-size: 20px;"
                                    name="form-oficina">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- <div class="thanks-message text-center" id="text-message"> <img
                        src="https://i.imgur.com/O18mJ1K.png"
                        width="100" class="mb-4">
                    <h3>Registro Exitoso!</h3> <span>El activo ha quedado
                        registrado correctamente</span>
                    <a href="{% url 'control-activos' %}" style="font-size:
                        20px;" class="btn btn-warning mt-3"
                        aria-label="Close">Volver a la Página</a>
                </div> -->
                <!-- BOTÓN DE CANCELAR Y SIGUIENTE. EL BOTÓN DE SIGUIENTE ESTA ENLAZADO POR EL ID A UN JAVASCRIPT DE MAS ABAJO -->
                <div class="w-100 d-flex
                    justify-content-center" style="overflow:auto;"
                    id="nextprevious">
                    <div style="float:right;"> <a href="{% url 'control-activos' %}" style="font-size: 20px;"
                            class="btn btn-danger"
                            aria-label="Close">Cancelar</a> <button class="btn
                            btn-success"
                            style="font-size: 20px;" type="button"
                            id="nextBtn" name="" onclick="nextPrev(1)">Registrar</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    // Bloque para no permitir espacios en blanco en el formulario de registrar un nuevo extintor
    const $f_extintor = document.getElementById('f_extintor');
    const $id_serialExtintor = document.getElementById('id_serialExtintor');
    const $id_colorExtintor = document.getElementById('id_colorExtintor');
    const $id_ubicacionExtintor = document.getElementById('id_ubicacionExtintor');
    const $id_pesoExtintor = document.getElementById('id_pesoExtintor');

    // Bloque para no permitir espacios en blanco en el formulario de registrar un nuevo equipo
    const $f_equipo = document.getElementById('f_equipo');
    const $id_serialEquipo = document.getElementById('id_serialEquipo');
    const $id_marcaEquipo = document.getElementById('id_marcaEquipo');
    const $id_colorEquipo = document.getElementById('id_colorEquipo');
    const $id_ubicacionEquipo = document.getElementById('id_ubicacionEquipo');

    // Bloque para no permitir espacios en blanco en el formulario de registrar un nuevo vehículo
    const $f_vehiculo = document.getElementById('f_vehiculo');
    const $id_marcaVehiculo = document.getElementById('id_marcaVehiculo');
    const $id_modeloVehiculo = document.getElementById('id_modeloVehiculo');
    const $id_placaVehiculo = document.getElementById('id_placaVehiculo');
    const $id_colorVehiculo = document.getElementById('id_colorVehiculo');
    const $id_serialVehiculo = document.getElementById('id_serialVehiculo');
    const $id_tipoCombustible = document.getElementById('id_tipoCombustible');
    const $id_cantidadPasajeros = document.getElementById('id_cantidadPasajeros');
    const $id_personaEncargadaVehiculo = document.getElementById('id_personaEncargadaVehiculo');

    // continuación del Bloque para no permitir espacios en blanco en el formulario de registrar un nuevo vehículo
    (function(){
        $f_vehiculo.addEventListener('submit', function(e){
            let marcaVehiculo=String($id_marcaVehiculo.value).trim();
            let modeloVehiculo=String($id_modeloVehiculo.value).trim();
            let placaVehiculo=String($id_placaVehiculo.value).trim();
            let colorVehiculo=String($id_colorVehiculo.value).trim();
            let serialVehiculo=String($id_serialVehiculo.value).trim();
            let tipoCombustible=String($id_tipoCombustible.value).trim();
            let cantidadPasajeros=String($id_cantidadPasajeros.value).trim();
            let personaEncargadaVehiculo=String($id_personaEncargadaVehiculo.value).trim();
            if (marcaVehiculo.length === 0 || modeloVehiculo.length === 0 || placaVehiculo.length === 0 || colorVehiculo.length === 0 || serialVehiculo.length === 0 || tipoCombustible.length === 0 || cantidadPasajeros.length === 0 || personaEncargadaVehiculo.length === 0){
                alert("El dato no puede ir vacío o solo con espacios en blanco");
                e.preventDefault();
            }
        });
    })();

    // continuación del Bloque para no permitir espacios en blanco en el formulario de registrar un nuevo extintor
    (function(){
        $f_extintor.addEventListener('submit', function(e){
            let serialExtintor=String($id_serialExtintor.value).trim();
            let colorExtintor=String($id_colorExtintor.value).trim();
            let ubicacionExtintor=String($id_ubicacionExtintor.value).trim();
            let pesoExtintor=String($id_pesoExtintor.value).trim();
            if (serialExtintor.length === 0 || colorExtintor.length === 0 || ubicacionExtintor.length === 0 || pesoExtintor.length === 0){
                alert("El dato no puede ir vacío o solo con espacios en blanco");
                e.preventDefault();
            }
        });
    })();

    // continuación del Bloque para no permitir espacios en blanco en el formulario de registrar un nuevo equipo
    (function(){
        $f_equipo.addEventListener('submit', function(e){
            let serialEquipo=String($id_serialEquipo.value).trim();
            let marcaEquipo=String($id_marcaEquipo.value).trim();
            let colorEquipo=String($id_colorEquipo.value).trim();
            let ubicacionEquipo=String($id_ubicacionEquipo.value).trim();
            if (serialEquipo.length === 0 || marcaEquipo.length === 0 || colorEquipo.length === 0 || ubicacionEquipo.length === 0){
                alert("El dato no puede ir vacío o solo con espacios en blanco");
                e.preventDefault();
            }
        });
    })();
</script>
{% block javascriptwizard %}
<!-- SCRIPTS PARA MENEJAR LOS FORMULARIOS Y TABLAS DE CONTROL ACTIVOS -->
<!-- <script>
    Script para visualizar los datos de los activos segun el que seleccione
    function displayTable(c) {
        if (c.value == "vehiculo") {
            jQuery('#table-vehiculo').toggle('show');
            jQuery('#table-extintor').hide();
            jQuery('#table-oficina').hide();
            jQuery('#edit-vehiculo').show();
            jQuery('#edit-extintor').hide();
            jQuery('#edit-oficina').hide();
        }
        if (c.value == "extintor") {
            jQuery('#table-extintor').toggle('show');
            jQuery('#table-vehiculo').hide();
            jQuery('#table-oficina').hide();
            jQuery('#edit-extintor').show();
            jQuery('#edit-vehiculo').hide();
            jQuery('#edit-oficina').hide();

        }
        if (c.value == "oficina") {
            jQuery('#table-oficina').toggle('show');
            jQuery('#table-vehiculo').hide();
            jQuery('#table-extintor').hide();
            jQuery('#edit-oficina').show();
            jQuery('#edit-vehiculo').hide();
            jQuery('#edit-extintor').hide();

        }

    }
</script> -->
<script>
    // Script para visualizar el formulario de registro de un activo según el que seleccione.
    // Sí selecciona un formulario con esta función remueve los otros para que no cree conflicto.
    function displayForm(c) {
        if (c.value == "1") {
            jQuery('#form-vehiculo').toggle('show');
            jQuery('#form-extintor').remove();
            jQuery('#form-oficina').remove();
            $('#nextBtn').attr('name','form-vehiculo')
        }
        if (c.value == "2") {
            jQuery('#form-extintor').toggle('show');
            jQuery('#form-vehiculo').remove();
            jQuery('#form-oficina').remove();
            $('#nextBtn').attr('name','form-extintor')

        }
        if (c.value == "3") {
            jQuery('#form-oficina').toggle('show');
            jQuery('#form-vehiculo').remove();
            jQuery('#form-extintor').remove();
            $('#nextBtn').attr('name','form-oficina')
        }
    };  
</script>
<!-- SCRIPT PARA EL FUNCIONAMIENTO DEL STEP FORM O WIZARD FORM EN EL BOTÓN NUEVO ACTIVO EN CONTROL ACTIVOS -->
<script>
    //your javascript goes here
    var currentTab = 0;
    document.addEventListener("DOMContentLoaded", function (event) {


        showTab(currentTab);

    });

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // if (n == 0) {
        //     document.getElementById("prevBtn").style.display = "none";
        // } else {
        //     document.getElementById("prevBtn").style.display = "inline";
        // }

        // EN COMENTAL EL DE REGISTRAR Y SE AGREGA "jQuery('#nextBtn').remove();", Con el cual removemos el botón 
        // y solo quedaría el botón de guardar agregado en cada formulario
        if (n == (x.length - 1)) {
            // document.getElementById("nextBtn").innerHTML = "Registrar";
            jQuery('#nextBtn').remove();
            
        } else {
            document.getElementById("nextBtn").innerHTML = "Siguiente";
        }
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm()) return false;
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length) {
            //document.getElementById("regForm").submit();
            // return false;
            // alert("sdf");
            document.getElementById("nextprevious").style.display = "none";
            document.getElementById("all-steps").style.display = "none";
            document.getElementById("register").style.display = "none";
            document.getElementById("text-message").style.display = "block";

        }
        showTab(currentTab);
    }

    function validateForm() {
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        for (i = 0; i < y.length; i++) {
            if (y[i].value == "") {
                y[i].className += " invalid";
                valid = false;
            }
        }
        if (valid) { document.getElementsByClassName("step")[currentTab].className += " finish"; }
        return valid;
    }

    function fixStepIndicator(n) {
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) { x[i].className = x[i].className.replace(" active", ""); }
        x[n].className += " active";
    }
</script>

<script>
    function validarNumero(value) {
        var valor = $(value).val();
        if (!isNaN(valor) && valor >= 1){
            $(value).val(valor);
        }else{
            $(value).val("");
        }
    }
    </script>
    
{% endblock javascriptwizard %}