<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Carga crispy form (ayuda visual en los formularios)-->
{% load crispy_forms_tags %}

<!-- Bloque que incluira el nav.html para que lo muestre en la página -->
{% block menu %}
{% include 'partials/nav.html' %}
{% endblock menu %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- <div class="container">
    <form action="" method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <input type="submit" value="Registrar">
    </form>

    <br>
    <br>
    <br>

    <form action="" method="POST">
        {{form2|crispy}}
        {% csrf_token %}
        <input type="submit" value="Registrar">
    </form>

    <br>
    <br>
    <br>

    <form action="" method="POST">
        {{form3|crispy}}
        {% csrf_token %}
        <input type="submit" value="Registrar">
    </form> 

<br>
<br>
<br>

</div> -->


<!-- INICIO DEL MAIN-->
<main class="bg-light">

    <!-- Inicio del primer contenedor de la página-->
    <div id="div-cajas" class="container p-3 my-4 pt-0">

        <div class="text-center p-2 w-100">
            <h2>Seleccione el Tipo de Activo</h2>
        </div>

        <!-- Salto de línea -->
        <br>

        <!-- Botones para seleccionar el tipo de activo-->
        <div class="text-center w-100">
            <div class="d-inline-block width-20 ms-1 me-5">
                <div class="input-group mb-3 w-100">
                    <button type="button" value="vehiculo" onclick="displayTable(this)" class="btn
                        form-control
                        width-20 m-2 border border-dark
                        bg-white
                        text-dark" style="cursor: pointer;">VEHÍCULO</button>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <div class="input-group mb-3 w-100">
                    <button type="button" value="extintor" onclick="displayTable(this)" class="btn
                        form-control
                        width-20 m-2 border border-dark
                        bg-white
                        text-dark" style="cursor: pointer;">EXTINTOR</button>
                </div>
            </div>

            <div class="d-inline-block width-20 ms-1 me-5">
                <div class="input-group mb-3 w-100">
                    <button type="button" value="oficina" onclick="displayTable(this)" class="btn
                        form-control
                        width-20 m-2 border border-dark
                        bg-white
                        text-dark" style="cursor: pointer;">EQUIPO
                        OFICINA</button>
                </div>
            </div>
        </div>
    </div>

    <!-- VEHICULOS ------------------------------------------------------------------------------- -->

    <div style="display: none;" id="table-vehiculo">
        <div class="d-flex flex-column">
            <div class="h3 ms-5">Vehículos</div>
            <div class="d-flex justify-content-center pb-4 mb-4 m-2 w-100 p-3">
                <!-- Inicio del segundo contenedor de la página-->
                <!-- Inicio de la Tabla usando (DataTable) -->
                <div class="overflow-auto shadow-lg p-4
                    height-config-tabla1 m-2 w-100" style="height: 300px;">
                    <table id="example" class="table-striped display nowrap">

                        <!-- Cabecera de la tabla (Donde estaran los enunciados principales)-->
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Id Activo</th>
                                <th>Marca del Vehículo</th>
                                <th>Modelo del Vehículo</th>
                                <th>Placa del Vehículo</th>
                                <th>Color del Vehículo</th>
                                <th>Serial del Vehiculo</th>
                                <th>Tipo de Combustible</th>
                                <th>Cantidad de Pasajeros</th>
                                <th>Persona a Cargo</th>
                                <th>Condición del Vehículo</th>
                                <th>Fecha de Ingreso</th>
                                <th>Fecha Inicio Soat</th>
                                <th>Fecha Vencimiento Soat</th>
                                <th>Fecha Inicio Tecnicomecanica</th>
                                <th>Fecha Vencimiento Tecnicomecanica</th>
                            </tr>
                        </thead>

                        <!-- Cuerpo de la tabla (donde estara la informacion que se mostrara de los activos) -->
                        <tbody>

                            {% for vehiculo in vehiculos %}
                            <tr>
                                <!-- Imagen de un ojo con el cual seleccionara el activo y mostrara en la parte de abajo toda la informacion
                                para editar, guardar o eliminar/desabilitar la información -->
                                <td>
                                    <form action="" method="POST" class="col-4">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk_vehiculo" value="{{vehiculo.id}}">
                                        <button class="btn btn-block" onClick="editarVehiculo()" name="editar-vehiculo">
                                            <i class="bi bi-eye-fill"></i>
                                        </button>
                                        <input type="hidden" name="pk_vehiculo" value="{{vehiculo.id}}">
                                        <a class="btn btn-block" onClick="eliminarVehiculo()" name="eliminar-vehiculo" href="{% url 'control-activos-eliminar-vehiculo' vehiculo.id %}">
                                            <i class="bi bi-trash3-fill"></i></a>
                                    </form>
                                </td>
                                <td class="text-center">{{vehiculo.id}}</td>
                                <td>{{vehiculo.marcaVehiculo}}</td>
                                <td>{{vehiculo.modeloVehiculo}}</td>
                                <td>{{vehiculo.placaVehiculo}}</td>
                                <td>{{vehiculo.colorVehiculo}}</td>
                                <td>{{vehiculo.serialVehiculo}}</td>
                                <td>{{vehiculo.tipoCombustible}}</td>
                                <td>{{vehiculo.cantidadPasajeros}}</td>
                                <td>{{vehiculo.personaEncargadaVehiculo}}</td>
                                <td>{{vehiculo.condicionVehiculo}}</td>
                                <td>{{vehiculo.fechaIngresoVehiculo}}</td>
                                <td>{{vehiculo.fechaInicioSoat}}</td>
                                <td>{{vehiculo.fechaFinSoat}}</td>
                                <td>{{vehiculo.fechaInicioTecnicomecanica}}</td>
                                <td>{{vehiculo.fechaVencimientoTecnicomecanica}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <!-- Footer de la tabla (Donde estaran los enunciados principales pero en la parte inferior) -->
                        <tfoot>
                            <tr>
                                <th>Acción</th>
                                <th>Id Activo</th>
                                <th>Marca del Vehículo</th>
                                <th>Modelo del Vehículo</th>
                                <th>Placa del Vehículo</th>
                                <th>Color del Vehículo</th>
                                <th>Serial del Vehiculo</th>
                                <th>Tipo de Combustible</th>
                                <th>Cantidad de Pasajeros</th>
                                <th>Persona a Cargo</th>
                                <th>Condición del Vehículo</th>
                                <th>Fecha de Ingreso</th>
                                <th>Fecha Inicio Soat</th>
                                <th>Fecha Vencimiento Soat</th>
                                <th>Fecha Inicio Tecnicomecanica</th>
                                <th>Fecha Vencimiento Tecnicomecanica</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!-- EXTINTORES --------------------------------------------------------------------------------------------- -->

    <div style="display: none;" id="table-extintor">
        <div class="d-flex flex-column">
            <div class="h3 ms-5">Extintores</div>
            <div class="d-flex justify-content-center pb-4 mb-4 m-2 w-100 p-3">
                <!-- Inicio del segundo contenedor de la página-->
                <!-- Inicio de la Tabla usando (DataTable) -->
                <div class="overflow-auto shadow-lg p-4
                    height-config-tabla1 m-2 w-100" style="height: 300px;">
                    <table id="example2" class="table-striped display nowrap">

                        <!-- Cabecera de la tabla (Donde estaran los enunciados principales)-->
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Id Activo</th>
                                <th>Serial Extintor</th>
                                <th>Color Extintor</th>
                                <th>Ubicación del Extintor</th>
                                <th>Tipo de Extintor</th>
                                <th>Peso del Extintor</th>
                            </tr>
                        </thead>

                        <!-- Cuerpo de la tabla (donde estara la informacion que se mostrara de los activos) -->
                        <tbody>

                            {% for extintor in extintores %}
                            <tr>
                                    <!-- Imagen de un ojo con el cual seleccionara el activo y mostrara en la parte de abajo toda la informacion
                                    para editar, guardar o eliminar/desabilitar la información -->
                                    <td>
                                        <form action="" method="POST" class="col-4">
                                            {% csrf_token %}
                                            <input type="hidden" name="pk_extintor" value="{{extintor.id}}">
                                            <button class="btn btn-block" onClick="editarExtintor()" name="editar-extintor">
                                                <i class="bi bi-eye-fill"></i>
                                            </button>






                                            <button type="button" class="btn btn-danger fs-5 m-2" data-bs-toggle="modal" data-bs-target="#modal-eliminar"><i class="bi bi-trash3-fill"></i></a>
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="modal-eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">ALERTA DE
                                                                ELIMINACIÓN</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-start">
                                                            ¿Esta seguro que desea Eliminar El
                                                            activo Seleccionado?.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn
                                                                btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-eliminar-exito"
                                                                data-bs-dismiss="modal" class="btn
                                                                btn-primary">ACEPTAR</button>
                                                            <input type="hidden" name="pk_extintor" value="{{extintor.id}}">
                                                            <a class="btn btn-block" onClick="eliminarExtintor()" name="eliminar-extintor" href="{% url 'control-activos-eliminar-extintor' extintor.id %}">
                                                                <i class="bi bi-trash3-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- MODAL INTERNO AL OPRIMIR ACEPTAR EN EL MODAL ANTERIOR DE ELIMINAR-->
                                            <div class="modal fade" id="modal-eliminar-exito">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header alert alert-success">
                                                            <h5 class="modal-tittle">Eliminacion Exitosa</h5>
                                                            <button class="btn-close" type="buttom" data-bs-dismiss="modal"></button>
                                                        </div>
                                                        <div class="modal-body text-start">
                                                            El Activo de Elimino de Manera Exitosa.
                                                        </div>
                                                        <div>
                                                            <a href="{% url 'control-activos' %}">SALIR</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>












                                    
                                            <input type="hidden" name="pk_extintor" value="{{extintor.id}}">
                                            <a class="btn btn-block" onClick="eliminarExtintor()" name="eliminar-extintor" href="{% url 'control-activos-eliminar-extintor' extintor.id %}">
                                                <i class="bi bi-trash3-fill"></i></a>
                                        </form>
                                    </td>
                                    <td class="text-center">{{extintor.id}}</td>
                                    <td>{{extintor.serialExtintor}}</td>
                                    <td>{{extintor.colorExtintor}}</td>
                                    <td>{{extintor.ubicacionExtintor}}</td>
                                    <td>{{extintor.tipoExtintor}}</td>
                                    <td>{{extintor.pesoExtintor}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>

                        <!-- Footer de la tabla (Donde estaran los enunciados principales pero en la parte inferior) -->
                        <tfoot>
                            <tr>
                                <th>Acción</th>
                                <th>Id Activo</th>
                                <th>Serial Extintor</th>
                                <th>Color Extintor</th>
                                <th>Ubicación del Extintor</th>
                                <th>Tipo de Extintor</th>
                                <th>Peso del Extintor</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>    
    </div>

    
    <!-- EQUIPOS DE OFICINA ------------------------------------------------------------------------------- -->

    <div style="display: none;" id="table-oficina">
        <div class="d-flex flex-column">
            <div class="h3 ms-5">Equipos de Oficina</div>
            <div class="d-flex justify-content-center pb-4 mb-4 m-2 w-100 p-3">
                <!-- Inicio del segundo contenedor de la página-->
                <!-- Inicio de la Tabla usando (DataTable) -->
                <div class="overflow-auto shadow-lg p-4
            height-config-tabla1 m-2 w-100" style="height: 300px;">
                    <table id="example3" class="table-striped display nowrap">

                        <!-- Cabecera de la tabla (Donde estaran los enunciados principales)-->
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Id Activo</th>
                                <th>Serial Equipo</th>
                                <th>Marca Equipo</th>
                                <th>Color Equipo</th>
                                <th>Sistema Operativo</th>
                                <th>Ram del Equipo</th>
                                <th>Memoria del Equipo</th>
                                <th>Ubicación del Equipo</th>
                                <th>Componentes del Equipo</th>
                            </tr>
                        </thead>

                        <!-- Cuerpo de la tabla (donde estara la informacion que se mostrara de los activos) -->
                        <tbody>

                            {% for equipo in equipos %}
                            <tr>
                                    <!-- Imagen de un ojo con el cual seleccionara el activo y mostrara en la parte de abajo toda la informacion
                                    para editar, guardar o eliminar/desabilitar la información -->
                                    <td>
                                        <form action="" method="POST" class="col-4">
                                            {% csrf_token %}
                                            <input type="hidden" name="pk_equipo" value="{{equipo.id}}">
                                            <button class="btn btn-block" onClick="editarEquipo()" name="editar-equipo-oficina">
                                                <i class="bi bi-eye-fill"></i></button>
                                            <input type="hidden" name="pk_equipo" value="{{equipo.id}}">
                                            <a class="btn btn-block" onClick="eliminarEquipo()" name="eliminar-equipo" href="{% url 'control-activos-eliminar-equipo' equipo.id %}">
                                                <i class="bi bi-trash3-fill"></i></a>
                                        </form>
                                    </td>
                                    <td class="text-center">{{equipo.id}}</td>
                                    <td>{{equipo.serialEquipo}}</td>
                                    <td>{{equipo.marcaEquipo}}</td>
                                    <td>{{equipo.colorEquipo}}</td>
                                    <td>{{equipo.sistemaOperativo}}</td>
                                    <td>{{equipo.ramEquipo}}</td>
                                    <td>{{equipo.memoriaEquipo}}</td>
                                    <td>{{equipo.ubicacionEquipo}}</td>
                                    <td>{{equipo.componentesAdicionales}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <!-- Footer de la tabla (Donde estaran los enunciados principales pero en la parte inferior) -->
                        <tfoot>
                            <tr>
                                <th>Acción</th>
                                <th>Id Activo</th>
                                <th>Serial Equipo</th>
                                <th>Marca Equipo</th>
                                <th>Color Equipo</th>
                                <th>Sistema Operativo</th>
                                <th>Ram del Equipo</th>
                                <th>Memoria del Equipo</th>
                                <th>Ubicación del Equipo</th>
                                <th>Componentes del Equipo</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin de la Tabla usando (DataTable) ------------------------------------------------------------------------------------------ -->

    <!-- Inicio del tercer contenedor de la página -->

    <!-- BOTONES PARA VEHICULO -->
    <div id="div-cajas2" class="p-3 mt-5 border-top border-dark">
        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Id Activo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" disabled id="" value="{{vehiculo.id}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Marca del Vehículo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.marcaVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Modelo del Vehículo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.modeloVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Placa del Vehículo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.placaVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Color del Vehículo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.colorVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Serial del Vehiculo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.serialVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Tipo de Combustible</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.tipoCombustible}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Cantidad de Pasajeros</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.cantidadPasajeros}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Persona a Cargo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.personaEncargadaVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Estado del Vehículo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.estadoVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Fecha de Ingreso</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.fechaIngresoVehiculo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Fecha Inicio Soat</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.fechaInicioSoat}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Fecha Vencimiento Soat</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.fechaFinSoat}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Fecha Inicio Tecnicomecanica</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.fechaInicioTecnicomecanica}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Fecha Vencimiento Tecnicomecanica</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{vehiculo.fechaVencimientoTecnicomecanica}}" aria-describedby="basic-addon3">
            </div>
        </div>
    </div>

    <!-- BOTONES PARA EXTINTOR -->
    <div id="div-cajas2" class="p-3 mt-5 border-top border-dark">
        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Id Activo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" disabled id="" value="{{extintor.id}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Serial del Extintor</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{extintor.serialExtintor}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Color del Extintor</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{extintor.colorExtintor}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Ubicación del Extintor</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{extintor.ubicacionExtintor}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Tipo de Extintor</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{extintor.tipoExtintor}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Peso del Extintor</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{extintor.pesoExtintor}}" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Estado Extintor</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{extintor.estado}}" aria-describedby="basic-addon3">
            </div>
        </div>
    </div>



    <!-- BOTONES PARA EQUIPOS DE OFICINA -->
    <div id="div-cajas2" class="p-3 mt-5 border-top border-dark">
        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Id Activo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" disabled id="" value="{{equipo.id}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Serial Equipo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.serialEquipo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Marca Equipo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.marcaEquipo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Color Equipo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.colorEquipo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Sistema Operativo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.sistemaOperativo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Ram del Equipo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.ramEquipo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Memoria del Equipo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.memoriaEquipo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Ubicación del Equipo</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" id="" value="{{equipo.ubicacionEquipo}}" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="d-inline-block width-20 ms-1 me-5">
            <label for="basic-url" class="form-label w-75 p-2">Componentes del Equipo</label>
            <div class="input-group mb-3 w-100">
                <textarea type="text" class="form-control" id="" value="{{equipo.componentesAdicionales}}" aria-describedby="basic-addon3"></textarea>
            </div>
        </div>

    </div>



    <!-- Botones de accion (parte final del tercer contenedor de la página)-->
    <div class="w-100 m-1 pb-5">

        <button type="button" id="btn-editar" class="btn
            btn-secondary
            fs-5 m-2">EDITAR</button>

        <!-- USO DE MODAL CON BOOTSTRAP 5 PARA EL BOTON GUARDAR-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success fs-5 m-2" data-bs-toggle="modal" data-bs-target="#modal-guardar">
            GUARDAR
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal-guardar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">VERIFICAR</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        Esta seguro que desea guardar los
                        cambios.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn
                            btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-guardar2"
                            data-bs-dismiss="modal" class="btn
                            btn-primary">ACEPTAR </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL INTERNO AL OPRIMIR ACEPTAR EN EL MODAL ANTERIOR DE GUARDAR-->
        <div class="modal" id="modal-guardar2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header alert alert-success">
                        <h5 class="modal-tittle">Guardado Exitoso</h5>
                        <button class="btn-close" type="buttom" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body text-start">
                        Los cambios se Guardaron con Exito.
                    </div>
                </div>
            </div>
        </div>

        <!-- USO DE MODAL CON BOOTSTRAP 5 PARA EL BOTON ELIMINAR-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger fs-5 m-2" data-bs-toggle="modal" data-bs-target="#modal-eliminar2">
            ELIMINAR
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal-eliminar2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">ALERTA DE
                            ELIMINACIÓN</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        ¿Esta seguro que desea Eliminar El
                        activo Seleccionado?.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn
                            btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-eliminar-exito2"
                            data-bs-dismiss="modal" class="btn
                            btn-primary">ACEPTAR</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL INTERNO AL OPRIMIR ACEPTAR EN EL MODAL ANTERIOR DE ELIMINAR-->
        <div class="modal fade" id="modal-eliminar-exito2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header alert alert-success">
                        <h5 class="modal-tittle">Eliminacion Exitosa</h5>
                        <button class="btn-close" type="buttom" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body text-start">
                        El Activo de Elimino de Manera Exitosa.
                    </div>
                </div>
            </div>
        </div>

        <!-- USO DE MODAL CON BOOTSTRAP 5 PARA EL BOTON ELIMINAR-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary fs-5 m-2" data-bs-toggle="modal"
            data-bs-target="#modal-nuevo-activo">
            NUEVO
            ACTIVO
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal-nuevo-activo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="">
                        <!-- <button type="button" class="btn-close mt-2 me-2 ms-2 float-end" data-bs-dismiss="modal"
                            aria-label="Close"></button> -->
                        {% include 'partials/wizardForm.html' %}
                    </div>
                </div>
            </div>
        </div>


        <!-- Este boton o link cuando se oprime debera redireccionar a un archivo en pdf o excel donde mostrar el reporte del activo -->
        <a href="generar-reporte.html" class="btn btn-secondary fs-5
            m-2">GENERAR
            REPORTE</a>

    </div>

</main>

{% endblock contenido %}