<!-- Consultar activos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}

<!-- Bloque que incluirá el nav.html para que lo muestre en la página -->
{% block menu %}
{% include 'partials/nav.html' %}
{% endblock menu %}

{% block contenido %}

<main class="bg-light">

    <div id="div-cajas" class="container p-3 my-4 pt-0">

        <div class="text-center p-2 w-100">
            <h1>SOGMA</h1>
        </div>

        <br>

        <div class="text-center p-2 w-100">
            <h2>Información del Sistema</h2>
        </div>
        <p class="text-break text-center">Sistema desarrollado para la gestión y
            mantenimiento de activos de la Contraloría Departamental de Tolima</p>
        <div class="container w-100 p-3">

            <div class="text-center p-2 w-100">
                <h2>Diseñado por</h2>
            </div>

            <br>

            <div class="text-center w-100 mb-3 text-break">
                <h3>Jonny Mauricio Canabal Ospina</h3>

                <div class="mb-4 w-100">
                    <img class="radio-img-reporte foto_w"
                        src="{% static 'img/Jonny_Canabal.jpg' %}"
                        alt="Imagen-reporte">
                </div>

                <h4 style="font-size: 18px;">Ciudad de Residencia: <strong>Bogotá
                        D.C.</strong></h4>

                <h4 style="font-size: 18px;">Telefono: <strong>3183865656</strong></h4>
                <h4 style="font-size: 18px;">Email: <strong>jonny.canabal@gmail.com</strong></h4>
            </div>

            <br>

            <div class="text-center w-100 mb-3 text-break">
                <h3>Jose Nicolás Molina Valera</h3>

                <div class="mb-4 w-100">
                    <img class="radio-img-reporte foto_w"
                        src="{% static 'img/Jose_Molina.jpg' %}"
                        alt="Imagen-reporte">
                </div>

                <h4 style="font-size: 18px;">Ciudad de Residencia: <strong>Bogotá D.C.</strong></h4>
                <h4 style="font-size: 18px;">Telefono: <strong>3124991589</strong></h4>
                <h4 style="font-size: 18px;">Email: <strong>Jnmolinav@misena.edu.co</strong></h4>
            </div>

            <br>

            <div class="text-center w-100 mb-3 text-break">
                <h3>Silverio Pedroza Vargas</h3>

                <div class="mb-4 w-100">
                    <img class="radio-img-reporte foto_w"
                        src="{% static 'img/Silverio_Pedroza.jpg' %}"
                        alt="Imagen-reporte">
                </div>

                <h4 style="font-size: 18px;">Ciudad de Residencia: <strong>Palmira (Valle del Cauca)</strong></h4>
                <h4 style="font-size: 18px;">Telefono: <strong>3207445801</strong></h4>
                <h4 style="font-size: 18px;">Email: <strong>silverio.pedroza@gmail.com</strong></h4>
            </div>

            <br>

        </div>
    </div>
</main>
{% endblock contenido %}