<!-- ConsultarActivos se extiende de body.html siendo este la clase hija. -->
{% extends 'partials/body.html' %}

<!-- Cargar la carpeta static -->
{% load static %}


<!-- Bloque que incluira el nav.html para que lo muestre en la página -->
{% block menu %}
    {% include 'partials/nav.html' %}
{% endblock menu %}

<!-- Bloque de contenido el cual estara declarado en el body.html y sera lo que se vera dependiente de la página  -->
{% block contenido %}

<!-- Inicio del contenedor para la página nuevo usuario -->
<div id="div-caja3" class="container p-3 my-4 pb-4 d-flex
    justify-content-center pt-0">

    <!-- Botones para seleccionar o digiligenciar información -->
    <form class="p-left border-start border-end border-dark
        pe-3 ps-3" style="width: 85%;">

        <!-- titulo Registrar Nuevo Usuario -->
        <h2 class="text-center p-1 pb-2 mb-3 border-bottom
            border-dark border border-dark rounded">Registrar
            Nuevo Usuario</h2>

        <!-- salto de línea -->
        <br>

        <div class="d-inline-block ms-1 me-5 width-28 ">
            <label for="basic-url" class="form-label w-75 ps-2">PRIMER
                NOMBRE</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="primer-nombre-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="Jonny">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">SEGUNDO
                NOMBRE</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="segundo-nombre-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="Mauricio">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">PRIMER
                APELLIDO</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="primer-apellido-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="Canabal">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">SEGUNDO
                APELLIDO</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="segundo-apellido-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="Ospina">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">TIPO
                DE DOCUMENTO</label>
            <div class="input-group mb-3 w-100">
                <select class="form-select"
                    aria-label="tipo-activo">
                    <option selected>--TIPO DOCUMENTO--</option>
                    <option value="1">Cédula de Ciudadanía</option>
                    <option value="2">Cédula de Extranjería</option>
                    <option value="3">Pasaporte</option>
                </select>
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">NÚMERO
                DE IDENTIFICACIÓN</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="numero-identificacion-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="1115085748">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">CARGO</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="cargo-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="Conductor">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">TELEFONO</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="telefono-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="3183865987">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">DIRECCION
                DE RESIDENCIA</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="direccion-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="Calle 53 Bis # 80 - 64 Sur">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">EMAIL</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="email-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="jmcanabalsenaprueba@gmail.com">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">USUARIO</label>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control"
                    id="nombre-usuario-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="JmCanabal">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">CONTRASEÑA</label>
            <div class="input-group mb-3 w-100">
                <input type="password" class="form-control"
                    id="contraseña-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="123456789">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">FECHA
                DE REGISTRO</label>
            <div class="input-group mb-3 w-100">
                <input type="date" class="form-control"
                    id="fecha-registro-nuevo-usuario"
                    aria-describedby="basic-addon3"
                    placeholder="FECHA DE REGISTRO">
            </div>
        </div>

        <div class="d-inline-block ms-1 me-5 width-28">
            <label for="basic-url" class="form-label w-75 ps-2">TIPO
                DE USUARIO</label>
            <div class="input-group mb-3 w-100">
                <select class="form-select"
                    aria-label="tipo-activo">
                    <option selected>--TIPO DE USUARIO--</option>
                    <option value="1">Funcionario</option>
                    <option value="2">Conductor</option>
                    <option value="3">Administrador</option>
                </select>
            </div>
        </div>

        <!-- Salto de línea -->
        <br>
        <br>
        <br>

        <!-- Bloque donde se seleccionara los permisos que tendrá el nuevo usuario -->
        <!-- Titulo Seleccione los permisos -->
        <h2 class="text-center p-1 pb-2 mb-3 border-bottom
            border-dark border border-dark rounded">Seleccione
            Los Permisos</h2>

            <!-- Salto de línea -->
        <br>

        <!-- Contenedor de loc checkbox tipo switch para marcar los permisos del nuevo usuario -->
        <div class="w-100">

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox1"
                    value="option1">
                <label class="form-check-label"
                    for="inlineCheckbox1">Consultar</label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox1"
                    value="option1">
                <label class="form-check-label"
                    for="inlineCheckbox1">Editar</label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Guardar</label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Eliminar</label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Nuevo Activo
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Generar Reporte
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Control Activos
                    todos
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Control Activos
                    Extintores
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Control Activos
                    Vehículos
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Control Activos
                    Equipos de Oficina
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Todas las páginas
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Página
                    [control-activos]
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Página
                    [generar-alarma]
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Página
                    [generar-ruta]
                </label>
            </div>

            <div class="form-check form-check-inline
                form-switch ms-3 mb-3">
                <input class="form-check-input"
                    type="checkbox" id="inlineCheckbox2"
                    value="option2">
                <label class="form-check-label"
                    for="inlineCheckbox2">Página
                    [consultar-ruta]
                </label>
            </div>

            <!-- Botón de guardar con su respectivo modal de confirmación -->
            <div class="mt-5 w-100 d-flex
                justify-content-center">
                <!-- USO DE MODAL CON BOOTSTRAP 5 PARA EL BOTON GUARDAR-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success
                    fs-5 m-2"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-guardar">
                    GUARDAR
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal-guardar"
                    data-bs-backdrop="static"
                    data-bs-keyboard="false"
                    tabindex="-1"
                    aria-labelledby="staticBackdropLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="staticBackdropLabel">VERIFICAR</h5>
                                <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body
                                text-start">
                                Esta seguro que desea
                                guardar
                                los
                                cambios.
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn
                                    btn-secondary"
                                    data-bs-dismiss="modal">CANCELAR</button>
                                <button type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-guardar2"
                                    data-bs-dismiss="modal"
                                    class="btn
                                    btn-primary">ACEPTAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL INTERNO AL OPRIMIR ACEPTAR EN EL MODAL ANTERIOR DE GUARDAR-->
                <div class="modal" id="modal-guardar2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header alert
                                alert-success">
                                <h5 class="modal-tittle">Guardado
                                    Exitoso</h5>
                                <button class="btn-close"
                                    type="buttom"
                                    data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body
                                text-start">
                                Los cambios de Guardaron con
                                Exito.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

{% endblock contenido %}
